<header class="header__section">
  <div class="header__topbar bg__secondary">
      <div class="container-fluid">
          <div class="header__topbar--inner d-flex align-items-center justify-content-between">
              <div class="header__shipping">
                  <ul class="header__shipping--wrapper d-flex">
                      <li class="header__shipping--text text-white">Welcome to Netmark online Store</li>
                      <li class="header__shipping--text text-white d-sm-2-none"><img class="header__shipping--text__icon" src="img/icon/bus.png" alt="bus-icon"> Track Your Order</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="main__header header__sticky">
      <div class="container-fluid">
          <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
              <div class="offcanvas__header--menu__open ">
                  <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
                      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon offcanvas__header--menu__open--svg" viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/></svg>
                      <span class="visually-hidden">Menu Open</span>
                  </a>
              </div>
              <div class="main__logo">
                  <h1 class="main__logo--title"><a class="main__logo--link h3" href="/"><img class="main__logo--img" src="img/logo/nav-log1.png" alt="logo-img">GYM CLUB</a></h1>
              </div>
              <div class="header__search--widget header__sticky--none d-none d-lg-block">
                  <form class="d-flex header__search--form" action="#">
                      <div class="header__select--categories select">
                          <select class="header__select--inner">
                              <option selected value="1">All Categories</option>
                              <option value="2">Accessories</option>
                              <option value="3">Accessories & More</option>
                              <option value="4">Camera & Video </option>
                              <option value="5">Butters & Eggs </option>
                          </select>
                      </div>
                      <div class="header__search--box">
                          <label>
                              <input class="header__search--input" placeholder="Keyword here..." type="text">
                          </label>
                          <button class="header__search--button bg__secondary text-white" type="submit" aria-label="search button">
                              <svg class="header__search--button__svg" xmlns="http://www.w3.org/2000/svg" width="27.51" height="26.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path></svg>
                          </button>
                      </div>
                  </form>
              </div>
              <div class="header__account header__sticky--none">
                  <ul class="d-flex">
                      <li class="header__account--items">
                          <% if(locals.user) { %>
                          <div class="dropdown">
                              <a class="header__account--btn" href="/account">
                                  <svg xmlns="http://www.w3.org/2000/svg"  width="26.51" height="23.443" viewBox="0 0 512 512"><path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg> 
                                  <span class="header__account--btn__text"><%= locals.user %></span>
                              </a>
                          </div>
                          <% } else { %>
                              <a href="/signup" class="pt-3 pe-2 text-secondary">Sign Up</a>
                              <a href="/login" class="ps-2 text-secondary">Log in</a>
                          <% } %>
                      </li>
                      <li class="header__account--items d-none d-lg-block">
                          <a class="header__account--btn" href="/wishlist">
                              <svg  xmlns="http://www.w3.org/2000/svg" width="28.51" height="23.443" viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path></svg>
                              <span class="header__account--btn__text"> Wish List</span>
                              <% if(locals.user && locals.wishlistQty) { %>
                              <span class="items__count wishlist"><%= locals.wishlistQty  %></span>
                              <% } %> 
                          </a>
                      </li>
                    
                      <li class="header__account--items">
                          <% if(locals.user) { %>
                              <a class="header__account--btn minicart__open--btn" href="/getCart">
                          <% } else { %>
                              <a class="header__account--btn minicart__open--btn" href="/login">
                          <% } %>
                              <svg xmlns="http://www.w3.org/2000/svg" width="26.51" height="23.443" viewBox="0 0 14.706 13.534">
                                  <g  transform="translate(0 0)">
                                    <g >
                                      <path  data-name="Path 16787" d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z" transform="translate(0 -463.248)" fill="currentColor"/>
                                      <path  data-name="Path 16788" d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z" transform="translate(-1.191 -466.622)" fill="currentColor"/>
                                      <path  data-name="Path 16789" d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z" transform="translate(-2.875 -466.622)" fill="currentColor"/>
                                    </g>
                                  </g>
                              </svg>
                              <span class="header__account--btn__text"> My cart</span>
                              <% if(locals.user && locals.cartQty) { %>
                                  <span class="items__count"><%= locals.cartQty %></span> 
                              <% } %>   
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="header__menu d-none header__sticky--block d-lg-block">
                  <nav class="header__menu--navigation">
                      <ul class="d-flex">
                          <li class="header__menu--items style2">
                              <a class="header__menu--link" href="/">Home</a>
                          </li>
                          <li class="header__menu--items mega__menu--items style2">
                              <a class="header__menu--link" href="/shop">Shop</a>
                          </li>
                          <li class="header__menu--items style2">
                              <a class="header__menu--link" href="#">About US </a>  
                          </li>
                          <li class="header__menu--items style2 d-none d-xl-block">
                              <a class="header__menu--link" href="#">Categories </a>  
                          </li>
                          <li class="header__menu--items style2">
                              <a class="header__menu--link " href="#">Contact </a>  
                          </li>
                      </ul>
                  </nav>
              </div>
              <div class="header__account header__account2 header__sticky--block">
                  <ul class="d-flex">
                      <li class="header__account--items header__account2--items  header__account--search__items d-none d-lg-block">
                          <a class="header__account--btn search__open--btn" href="javascript:void(0)" data-offcanvas>
                              <svg class="header__search--button__svg" xmlns="http://www.w3.org/2000/svg" width="26.51" height="23.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>  
                              <span class="visually-hidden">Search</span>
                          </a>
                      </li>
                      <li class="header__account--items header__account2--items">
                          <% if(locals.user) { %>
                              <a href="/account"><%= locals.user %></a>
                          <% } else { %>
                              <a href="/signup" class="pt-3 pe-2 text-secondary">Sign Up</a>
                              <a href="/login" class="ps-2 text-secondary">Log in</a>
                          <% } %>
                      </li>
                      <li class="header__account--items header__account2--items d-none d-lg-block">
                          <a class="header__account--btn" href="/wishlist">
                              <svg  xmlns="http://www.w3.org/2000/svg" width="28.51" height="23.443" viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path></svg>
                              <% if(locals.user && locals.wishlistQty) { %>
                              <span class="items__count  wishlist style2"><%= locals.wishlistQty %></span>
                              <% } %> 
                          </a>
                      </li>
                      <li class="header__account--items header__account2--items">
                          <% if(locals.user) { %>
                              <a class="header__account--btn minicart__open--btn" href="/getCart">
                          <% } else { %>
                              <a class="header__account--btn minicart__open--btn" href="/login">
                          <% } %>
                              <svg xmlns="http://www.w3.org/2000/svg" width="26.51" height="23.443" viewBox="0 0 14.706 13.534">
                                  <g  transform="translate(0 0)">
                                    <g >
                                      <path  data-name="Path 16787" d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z" transform="translate(0 -463.248)" fill="currentColor"/>
                                      <path  data-name="Path 16788" d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z" transform="translate(-1.191 -466.622)" fill="currentColor"/>
                                      <path  data-name="Path 16789" d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z" transform="translate(-2.875 -466.622)" fill="currentColor"/>
                                    </g>
                                  </g>
                              </svg>
                              <% if(locals.user && locals.cartQty) { %>
                                  <span class="items__count style2"><%= locals.cartQty %></span>
                              <% } %>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="header__bottom">
      <div class="container-fluid">
          <div class="header__bottom--inner position__relative d-none d-lg-flex justify-content-between align-items-center">
              <div class="header__menu">
                  <nav class="header__menu--navigation">
                      <ul class="d-flex">
                          <li class="header__menu--items">
                              <a class="header__menu--link" href="/">Home</a>
                          </li>
                          <li class="header__menu--items mega__menu--items">
                              <a class="header__menu--link" href="/shop">Shop</a>
                          </li>
                          <li class="header__menu--items">
                              <a class="header__menu--link" href="#">About US </a>  
                          </li>
                          <li class="header__menu--items d-none d-xl-block">
                              <a class="header__menu--link" href="#">Categories </a>  
                          </li>
                          <li class="header__menu--items">
                              <a class="header__menu--link" href="#">Contact </a>  
                          </li>
                      </ul>
                  </nav>
              </div>
              <p class="header__discount--text"><img class="header__discount--icon__img" src="img/icon/lamp.png" alt="lamp-img"> Special up to 60% Off all item</p>
          </div>
      </div>
  </div>

  <!-- Start Offcanvas header menu -->
  <div class="offcanvas__header">
      <div class="offcanvas__inner">
          <div class="offcanvas__logo">
              <a class="offcanvas__logo_link" href="/">
                  <img src="img/logo/nav-log1.png" alt="Grocee Logo" width="158" height="36">
              </a>
              <button class="offcanvas__close--btn" data-offcanvas>close</button>
          </div>
          <nav class="offcanvas__menu">
              <ul class="offcanvas__menu_ul">
                  <li class="offcanvas__menu_li">
                      <a class="offcanvas__menu_item" href="/">Home</a>
                  </li>
                  <li class="offcanvas__menu_li">
                      <a class="offcanvas__menu_item" href="/shop">Shop</a>
                  </li>
                  <li class="offcanvas__menu_li">
                      <a class="offcanvas__menu_item" href="#">Blog</a>
                  </li>
                  <li class="offcanvas__menu_li">
                      <a class="offcanvas__menu_item" href="#">Pages</a>
                  </li>
                  <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="#">About</a></li>
                  <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="#">Contact</a></li>
              </ul>
              <div class="offcanvas__account--items">
                  <a class="offcanvas__account--items__btn d-flex align-items-center" href="#">
                  <span class="offcanvas__account--items__icon"> 
                      <svg xmlns="http://www.w3.org/2000/svg"  width="20.51" height="19.443" viewBox="0 0 512 512"><path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg> 
                      </span>
                  <span class="offcanvas__account--items__label">Login / Register</span>
                  </a>
              </div>
              <div class="language__currency">
                  <ul class="d-flex align-items-center">
                      <li class="language__currency--list">
                          <a class="offcanvas__language--switcher" href="#">
                              <img class="language__switcher--icon__img" src="img/icon/language-icon.png" alt="currency">
                              <span>English</span> 
                              <svg xmlns="http://www.w3.org/2000/svg" width="11.797" height="9.05" viewBox="0 0 9.797 6.05">
                                  <path  d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                              </svg>
                          </a>
                          <div class="offcanvas__dropdown--language">
                              <ul>
                                  <li class="language__items"><a class="language__text" href="#">France</a></li>
                                  <li class="language__items"><a class="language__text" href="#">Russia</a></li>
                                  <li class="language__items"><a class="language__text" href="#">Spanish</a></li>
                              </ul>
                          </div>
                      </li>
                      <li class="language__currency--list">
                          <a class="offcanvas__account--currency__menu" href="#">
                              <img src="img/icon/usd-icon.png" alt="currency">
                              <span>$ US Dollar</span> 
                              <svg xmlns="http://www.w3.org/2000/svg" width="11.797" height="9.05" viewBox="0 0 9.797 6.05">
                                  <path  d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                              </svg>
                          </a>
                          <div class="offcanvas__account--currency__submenu">
                              <ul>
                                  <li class="currency__items"><a class="currency__text" href="#">CAD</a></li>
                                  <li class="currency__items"><a class="currency__text" href="#">CNY</a></li>
                                  <li class="currency__items"><a class="currency__text" href="#">EUR</a></li>
                                  <li class="currency__items"><a class="currency__text" href="#">GBP</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </div>
  <!-- End Offcanvas header menu -->
   

  <!-- Start serch box area -->
  <div class="predictive__search--box ">
      <div class="predictive__search--box__inner">
          <h2 class="predictive__search--title">Search Products</h2>
          <form class="predictive__search--form" action="#">
              <label>
                  <input class="predictive__search--input" placeholder="Search Here" type="text">
              </label>
              <button class="predictive__search--button" aria-label="search button" type="submit"><svg class="header__search--button__svg" xmlns="http://www.w3.org/2000/svg" width="30.51" height="25.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>  </button>
          </form>
      </div>
      <button class="predictive__search--close__btn" aria-label="search close button" data-offcanvas>
          <svg class="predictive__search--close__icon" xmlns="http://www.w3.org/2000/svg" width="40.51" height="30.443"  viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
      </button>
  </div>
  <!-- End serch box area -->

</header>
<!-- End header area -->