<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/order-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->
<head>
     <!-- Title Meta -->
     <meta charset="utf-8" />
     <title>Order Details | Larkon - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="A fully responsive premium admin dashboard template" />
     <meta name="author" content="Techzaa" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="assets/images/favicon.ico">

     <!-- Vendor css (Require in all Page) -->
     <link href="assets/css/vendor.min.css" rel="stylesheet" type="text/css" />

     <!-- Icons css (Require in all Page) -->
     <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

     <!-- App css (Require in all Page) -->
     <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

     <!-- Theme Config js (Require in all Page) -->
     <script src="assets/js/config.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <style>
          .custom-swal-popup .swal2-html-container {
               font-size: 10px;
          }
     </style>
</head>

<body>

     <!-- START Wrapper -->
     <div class="wrapper">

          <!-- ========== Topbar Start ========== -->
          <%- include('../partials/admin/header') %>
          <!-- Right Sidebar (Theme Settings) -->
          <%- include('../partials/admin/theme') %>
          <!-- ========== Topbar End ========== -->

          <!-- ========== App Menu Start ========== -->
          <%- include('../partials/admin/nav') %>
          <!-- ========== App Menu End ========== -->

          <!-- ==================================================== -->
          <!-- Start right Content here -->
          <!-- ==================================================== -->

          <div class="page-content">

               <!-- Start Container -->
               <div class="container-xxl">

                    <div class="row">
                         <div class="col-xl-9 col-lg-8">
                              <div class="row">
                                   <div class="col-lg-12">
                                        <div class="card">
                                             <div class="card-body">
                                                  <div class="d-flex flex-wrap align-items-start justify-content-between gap-2">
                                                       <div>
                                                            <h4 class="fw-medium text-dark d-flex align-items-center gap-2"><%= order.orderedId %></h4>
                                                            <p class="mb-0">Order / Order Details  - <span id="order-date" data-date="<%= order.createdAt %>"></span></p>
                                                       </div>
                                                       <a href="/admin/order" class="btn btn-sm btn-primary">
                                                            All Orders
                                                       </a>
                                                  </div>

                                                  <div class="my-4">
                                                       <h3 class="fw-medium text-dark">Order Info</h3>
                                                  </div>
                                                  <div class="row ">
                                                       <div class="col-4 mb-3">
                                                            <h4 class="h5">Payment Method</h4>
                                                            <% if( order.paymentMethod === 'cod' ) { %>
                                                                 <span class="badge bg-light text-dark  px-2 py-1 fs-13">Cash on Delivery</span>
                                                            <% } else if(order.paymentMethod === 'razorpay') { %>
                                                                 <span class="badge bg-light text-dark  px-2 py-1 fs-13">Razorpay</span>
                                                            <% } else if(order.paymentMethod === 'wallet') { %>
                                                                 <span class="badge bg-light text-dark  px-2 py-1 fs-13">Wallet</span>
                                                            <% } %>                                
                                                        </div>
                                                       <div class="col-4 mb-3">
                                                            <h4 class="h5">Order Status</h4>
                                                            <div id="order-status-cont">
                                                                 <% if(order.orderStatus === 'Pending') { %>
                                                                      <span class="badge border border-secondary text-secondary  px-2 py-1 fs-13">Pending</span>
                                                                 <% } else if(order.orderStatus === 'Confirmed') { %>
                                                                      <span class="badge border border-warning text-warning  px-2 py-1 fs-13">Confirmed</span>
                                                                 <% } else if(order.orderStatus === 'Shipped') { %>
                                                                      <span class="badge border border-warning text-warning  px-2 py-1 fs-13">Shipped</span>
                                                                 <% } else if(order.orderStatus === 'Delivered') { %> 
                                                                      <span class="badge border border-success text-success  px-2 py-1 fs-13">Delivered</span>
                                                                 <% } else if(order.orderStatus === 'Canceled') { %>
                                                                      <span class="badge border border-danger text-danger  px-2 py-1 fs-13">Canceled</span>
                                                                 <% } else if(order.orderStatus === 'Returned') { %> 
                                                                      <span class="badge border border-secondary text-secondary  px-2 py-1 fs-13">Returned</span>
                                                                 <% } %>
                                                            </div>
                                                       </div>
                                                       <div class="col-4 mb-3">
                                                            <h4 class="h5">Payment Status</h4>
                                                            <div id="payment-status-cont">
                                                                 <% if(order.paymentStatus === 'Pending') { %>
                                                                      <span class="badge bg-light text-dark  px-2 py-1 fs-13">Pending</span>
                                                                 <% } else if(order.paymentStatus === 'Paid') { %>
                                                                      <span class="badge bg-success text-light  px-2 py-1 fs-13">Paid</span>
                                                                 <% } else if(order.paymentStatus === 'Canceled') { %>
                                                                      <span class="badge bg-light text-dark  px-2 py-1 fs-13">Canceled</span>
                                                                 <% } else if(order.paymentStatus === 'Refunded') { %>
                                                                      <span class="badge bg-light text-dark  px-2 py-1 fs-13">Refunded</span>
                                                                 <% } else if(order.paymentStatus === 'Failed') { %>
                                                                      <span class="badge bg-light text-dark  px-2 py-1 fs-13">Failed</span>
                                                                 <% } %>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="card-footer d-flex flex-wrap align-items-center justify-content-end bg-light-subtle">
                                                  <% if(order.orderStatus === 'Confirmed' || order.orderStatus === 'Pending' || order.orderStatus === 'Shipped') { %>
                                                       <div class="d-flex" id="status-option-cont">
                                                            <div class="me-2" style="width: 180px;">
                                                                 <select id="order-status" class="form-control" data-choices
                                                                 data-choices-groups>
                                                                      <% if(order.orderStatus === 'Confirmed') { %>
                                                                           <option value="Confirmed" id="Confirmed" selected>Confirmed</option>
                                                                      <% } else { %>
                                                                           <option value="Confirmed" id="Confirmed">Confirmed</option>
                                                                      <% } %>
                                                                      <% if(order.orderStatus === 'Pending') { %> 
                                                                           <option value="Pending" id="Pending" selected>Pending</option>
                                                                      <% } else { %>
                                                                           <option value="Pending" id="Pending">Pending</option>
                                                                      <% } %>
                                                                      <% if(order.orderStatus === 'Shipped') { %> 
                                                                           <option value="Shipped" id="Shipped" selected>Shipped</option>
                                                                      <% } else { %>
                                                                           <option value="Shipped" id="Shipped">Shipped</option>
                                                                      <% } %>
                                                                      <option value="Delivered" id="Delivered">Delivered</option>
                                                                      <option value="Canceled" id="Canceled">Canceled</option>
                                                                 </select>
                                                            </div>
                                                            <button onclick="changeStatus(event, '<%= order._id %>')" class="btn btn-primary">Change Status</button>
                                                       </div>
                                                  <% } %>
                                             </div>
                                        </div>
                                        <div class="card">
                                             <div class="card-header">
                                                  <h4 class="card-title">Product</h4>
                                             </div>
                                             <div class="card-body">
                                                  <div class="table-responsive">
                                                       <table class="table align-middle mb-0 table-hover table-centered">
                                                            <thead class="bg-light-subtle border-bottom">
                                                                 <tr>
                                                                      <th>Product Name & Size</th>
                                                                      <th>Quantity</th>
                                                                      <th>Price</th>
                                                                      <th>Amount</th>
                                                                 </tr>
                                                            </thead>
                                                            <tbody>
                                                                 <% if(order) {  %>
                                                                 <% for(let i = 0; i<order.items.length; i++) { %>
                                                                 <tr>
                                                                      <td>
                                                                           <div class="d-flex align-items-center gap-2">
                                                                                <div class="rounded bg-light avatar-md d-flex align-items-center justify-content-center">
                                                                                     <img src="<%= order.items[i].image %>" alt="" class="avatar-md">
                                                                                </div>
                                                                                <div>
                                                                                     <a href="#!" class="text-dark fw-medium fs-15"><%= order.items[i].productId.productName %></a>
                                                                                     <p class="text-muted mb-0 mt-1 fs-13"><span>Size : </span><%= order.items[i].size %></p>
                                                                                </div>
                                                                           </div>
                                                                      </td>
                                                                      <td> <%= order.items[i].quantity %></td>
                                                                      <td> <%= order.items[i].price %></td>
                                                                      <td>
                                                                           <%= order.items[i].price %>
                                                                      </td>
                                                                 </tr>
                                                                 <% }} %>
                                                            </tbody>
                                                       </table>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="col-xl-3 col-lg-4">
                              <div class="card">
                                   <div class="card-header">
                                        <h4 class="card-title">Order Summary</h4>
                                   </div>
                                   <div class="card-body">
                                        <div class="table-responsive">
                                             <table class="table mb-0">
                                                  <tbody>
                                                       <tr>
                                                            <td class="px-0">
                                                                 <p class="d-flex mb-0 align-items-center gap-1"><iconify-icon icon="solar:clipboard-text-broken"></iconify-icon> Total Amount : </p>
                                                            </td>
                                                            <td class="text-end text-dark fw-medium px-0"><%= order.totalAmount %></td>
                                                       </tr>
                                                       <% if(order.appliedCoupon.couponId) { %>
                                                       <tr>
                                                            <td class="px-0">
                                                                 <p class="d-flex mb-0 align-items-center gap-1"><iconify-icon icon="solar:clipboard-text-broken"></iconify-icon> Discount Amount : </p>
                                                            </td>
                                                            <td class="text-end text-dark fw-medium px-0"><%= order.appliedCoupon.discountPrice %></td>
                                                       </tr>
                                                       <% } %>
                                                       <tr>
                                                            <td class="px-0">
                                                                 <p class="d-flex mb-0 align-items-center gap-1"><iconify-icon icon="solar:clipboard-text-broken"></iconify-icon>  Shipping Cost : </p>
                                                            </td>
                                                            <td class="text-end text-dark fw-medium px-0"><%= order.shippingCost %></td>
                                                       </tr>
                                                  </tbody>
                                             </table>
                                        </div>
                                   </div>
                                   <div class="card-footer d-flex align-items-center justify-content-between bg-light-subtle">
                                        <div>
                                             <p class="fw-medium text-dark mb-0">Payable Amount</p>
                                        </div>
                                        <div>
                                             <p class="fw-medium text-dark mb-0"><%= order.payableAmount %></p>
                                        </div>

                                   </div>
                              </div>
                              <div class="card">
                                   <div class="card-header">
                                        <h4 class="card-title">Customer Details</h4>
                                   </div>
                                   <div class="card-body">
                                        <div class="d-flex align-items-center gap-2">
                                             <div>
                                                  <p class="mb-1"><%= order.userId.name %></p>
                                                  <p class="link-primary word-wrap text-break fw-medium mb-0"><%= order.userId.email %></p>
                                             </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-3">
                                             <h5 class="">Contact Number</h5>
                                        </div>
                                        <p class="mb-1"><%= order.address.phone %></p>

                                        <div class="d-flex justify-content-between mt-3">
                                             <h5 class="">Shipping Address</h5>
                                        </div>

                                        <div>
                                             <p class="mb-1"><%= order.address.addressType %></p>
                                             <p class="mb-1"><%= order.address.name %></p>
                                             <p class="mb-1"><%= order.address.locality %> ,<%= order.address.address %> ,<%= order.address.place %> ,</p>
                                             <p class="mb-1"><%= order.address.state %> - <%= order.address.pincode %></p>
                                             <p><%= order.address.phone %></p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>

          </div>
          <!-- End Container Fluid -->

          <!-- ========== Footer Start ========== -->
          <%- include('../partials/admin/footer') %>
          <!-- ========== Footer End ========== -->

     </div>
     <!-- ==================================================== -->
     <!-- End Page Content -->
     <!-- ==================================================== -->

     </div>
     <!-- END Wrapper -->

     <!-- Vendor Javascript (Require in all Page) -->
     <script src="assets/js/vendor.js"></script>

     <!-- App Javascript (Require in all Page) -->
     <script src="assets/js/app.js"></script>
     <script>
          const dateElem = document.getElementById('order-date');
          const date = new Date(dateElem.dataset.date);
          const options = {
               month: 'long',
               day: 'numeric',
               year: 'numeric',
               hour: 'numeric',
               minute: 'numeric',
               hour12: true
          }    
          const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date)
          dateElem.innerHTML = formattedDate;

          async function changeStatus(event, id) {
               event.preventDefault();
               try {
                    const orderStatus = document.getElementById('order-status').value;
                    const response = await fetch('/admin/changeOrderStatus?id='+id ,{
                         method: 'PATCH',
                         headers: {
                              'content-type': 'application/json'
                         },
                         body: JSON.stringify({orderStatus})
                    });
                    const data = await response.json();
                    if(!response.ok) {
                         throw new Error(data.message);
                    }
                    if(data.success) {
                         Swal.fire({
                              position: "top-end",
                              icon: 'success',
                              title: 'Status changed successfully.',
                              showConfirmButton: false,
                              timer: 1500,
                              customClass: {
                                   popup: 'custom-swal-popup'
                              }
                         })
                         .then(() => {
                              if(data.orderStatus === 'Pending') {
                                   document.getElementById('order-status-cont').innerHTML = '<span class="badge border border-secondary text-secondary  px-2 py-1 fs-13">Pending</span>';
                                   document.getElementById('payment-status-cont').innerHTML = '<span class="badge bg-light text-dark  px-2 py-1 fs-13">Pending</span>';
                              } else if(data.orderStatus === 'Confirmed') {
                                   document.getElementById('order-status-cont').innerHTML = '<span class="badge border border-warning text-warning  px-2 py-1 fs-13">Confirmed</span>';
                                   document.getElementById('payment-status-cont').innerHTML = '<span class="badge bg-light text-dark  px-2 py-1 fs-13">Pending</span>';
                              } else if(data.orderStatus === 'Shipped') {
                                   document.getElementById('order-status-cont').innerHTML = '<span class="badge border border-warning text-warning  px-2 py-1 fs-13">Shipped</span>';
                                   document.getElementById('payment-status-cont').innerHTML = '<span class="badge bg-light text-dark  px-2 py-1 fs-13">Pending</span>';
                              } else if(data.orderStatus === 'Delivered') {
                                   document.getElementById('order-status-cont').innerHTML = '<span class="badge border border-success text-success  px-2 py-1 fs-13">Delivered</span>';
                                   document.getElementById('payment-status-cont').innerHTML = '<span class="badge bg-success text-light  px-2 py-1 fs-13">Paid</span>';
                                   document.getElementById('status-option-cont').classList.remove('d-flex');
                                   document.getElementById('status-option-cont').style.display = 'none';
                              } else if(data.orderStatus === 'Canceled') {
                                   document.getElementById('order-status-cont').innerHTML = '<span class="badge border border-danger text-danger  px-2 py-1 fs-13">Canceled</span>';
                                   document.getElementById('payment-status-cont').innerHTML = '<span class="badge bg-light text-dark  px-2 py-1 fs-13">Canceled</span>';
                                   document.getElementById('status-option-cont').classList.remove('d-flex');
                                   document.getElementById('status-option-cont').style.display = 'none';
                                   console.log('haha canceled')
                              }
                         })
                    }
               } catch (error) {
                    Swal.fire({
                         position: "top-end",
                         icon: "error",
                         title: "Oops...",
                         text: error.message,
                         showConfirmButton: false,
                         timer: 1500,
                         customClass: {
                              popup: 'custom-swal-popup'
                         }
                    });
               }
          }

          async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);
          
     </script>
</body>


<!-- Mirrored from techzaa.in/larkon/admin/order-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->
</html>