<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/orders-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->
<head>
     <!-- Title Meta -->
     <meta charset="utf-8" />
     <title>Orders List | Larkon - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="A fully responsive premium admin dashboard template" />
     <meta name="author" content="Techzaa" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="assets/images/favicon.ico">

     <!-- Vendor css (Require in all Page) -->
     <link href="assets/css/vendor.min.css" rel="stylesheet" type="text/css" />

     <!-- Icons css (Require in all Page) -->
     <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
     <script src="https://code.iconify.design/3/3.0.0/iconify.min.js"></script>


     <!-- App css (Require in all Page) -->
     <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

     <!-- Theme Config js (Require in all Page) -->
     <script src="assets/js/config.js"></script>
</head>

<body>

     <!-- START Wrapper -->
     <div class="wrapper">

          <!-- ========== Topbar Start ========== -->
          <%- include('../partials/admin/header') %>
          <!-- Right Sidebar (Theme Settings) -->
          <%- include('../partials/admin/theme') %>
          <!-- ========== Topbar End ========== -->
         
          <!-- ========== App Menu Start ========== -->
          <%- include('../partials/admin/nav') %>
          <!-- ========== App Menu End ========== -->

          <!-- ==================================================== -->
          <!-- Start right Content here -->
          <!-- ==================================================== -->
          <div>

               <div class="page-content">

                    <!-- Start Container Fluid -->
                    <div class="container-xxl">

                         <!-- <div class="row"> -->
                              <!-- <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Total Orders</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">490</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="mdi:clipboard-check" class="fs-32 text-primary avatar-title"></iconify-icon>

                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div> -->
                              <!-- <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Delivered</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">200</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:clipboard-check-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div> -->
                              
                              <!-- <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Pending Order</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">608</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:clock-circle-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div> -->
<!-- 
                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Order Cancel</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">241</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:cart-cross-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div> -->


                              <!-- <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Order Shipped</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">630</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:box-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div> -->
<!--                     
                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Confirmed</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">656</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:inbox-line-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div> -->
                              

                              <!-- <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Order Returned</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">630</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="mdi:sync" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div> -->
                         <!-- </div> -->

                         <div class="row">
                              <div class="col-xl-12">
                                   <div class="card">
                                        <div class="card-header d-flex justify-content-between align-items-center gap-1">
                                             <h4 class="card-title flex-grow-1">All Order List</h4>
     
                                             <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Return Request</button>
                                        </div>
                                        <div class="card-body p-0">
                                             <div class="table-responsive">
                                                  <table class="table align-middle mb-0 table-hover table-centered">
                                                       <thead class="bg-light-subtle">
                                                            <tr>
                                                                 <th>Order ID</th>
                                                                 <th>Created at</th>
                                                                 <th>Customer</th>
                                                                 <th>Amount</th>
                                                                 <th>Payment Status</th>
                                                                 <th>Items</th>
                                                                 <th>Order Status</th>
                                                                 <th>Action</th>
                                                            </tr>
                                                       </thead>
                                                       <tbody>
                                                            <% if(order && order.length>0) { %>
                                                            <% for(let i = 0; i<order.length; i++) { %>
                                                            <tr>
                                                                 <td>
                                                                      <%= order[i].orderedId %>
                                                                 </td>
                                                                 <td class="convert-date" data-date="<%= order[i].createdAt %>"></td>
                                                                 <td>
                                                                      <a href="#" class="link-primary fw-medium"><%= order[i].userId.name %></a>
                                                                 </td>
                                                                 <td> <%= order[i].payableAmount %></td>
                                                                 <td>
                                                                      <% if(order[i].paymentStatus === 'Pending') { %>
                                                                           <span class="badge bg-light text-dark  px-2 py-1 fs-13">Pending</span>
                                                                      <% } else if(order[i].paymentStatus === 'Paid') { %>
                                                                           <span class="badge bg-success text-light  px-2 py-1 fs-13">Paid</span>
                                                                      <% } else if(order[i].paymentStatus === 'Canceled') { %>
                                                                           <span class="badge bg-danger text-light  px-2 py-1 fs-13">Canceled</span>
                                                                      <% } else if(order[i].paymentStatus === 'Failed') { %>
                                                                           <span class="badge bg-light text-danger  px-2 py-1 fs-13">Failed</span>
                                                                      <% } else if(order[i].paymentStatus === 'Refunded') { %>
                                                                           <span class="badge bg-light text-dark  px-2 py-1 fs-13">Refunded</span>
                                                                      <% } %> 
                                                                 </td>
                                                                 <td><%= order[i].items.length %> </td>
                                                                 <td> 
                                                                      <% if(order[i].orderStatus === 'Pending') { %>
                                                                           <span class="badge border border-secondary text-secondary  px-2 py-1 fs-13">Pending</span>
                                                                      <% } else if(order[i].orderStatus === 'Confirmed') { %>
                                                                           <span class="badge border border-warning text-warning  px-2 py-1 fs-13">Confirmed</span>
                                                                      <% } else if(order[i].orderStatus === 'Shipped') { %>
                                                                           <span class="badge border border-warning text-warning  px-2 py-1 fs-13">Shipped</span>
                                                                      <% } else if(order[i].orderStatus === 'Delivered') { %> 
                                                                           <span class="badge border border-success text-success  px-2 py-1 fs-13">Delivered</span>
                                                                      <% } else if(order[i].orderStatus === 'Canceled') { %>
                                                                           <span class="badge border border-danger text-danger  px-2 py-1 fs-13">Canceled</span>
                                                                      <% } else if(order[i].orderStatus === 'Returned') { %>
                                                                           <span class="badge border border-secondary text-secondary  px-2 py-1 fs-13">Returned</span>
                                                                      <% } %>      
                                                                 </td>
                                                                 <td>
                                                                      <div class="d-flex gap-2">
                                                                           <a href="/admin/orderDetails?id=<%= order[i]._id %>" class="btn btn-light btn-sm"><iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                      </div>
                                                                 </td>
                                                            </tr>
                                                            <% }} %>
                                                       </tbody>
                                                  </table>
                                             </div>
                                             <!-- end table-responsive -->
                                        </div>
                                        <div class="card-footer border-top">
                                             <nav aria-label="Page navigation example">
                                                  <ul class="pagination justify-content-end mb-0">
                                                       <% if(currentPage > 1) { %>
                                                            <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a></li>
                                                       <% } for(let i = 1; i<= totalPages; i++) { if(i == currentPage) { %>
                                                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                                       <% } else { %>
                                                            <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                                                       <% }} if(currentPage < totalPages) { %>
                                                            <li class="page-item"><a class="page-link" href="?page=<%= Number(currentPage) + 1 %>">Next</a></li>
                                                       <% } %> 
                                              
                                                  </ul>
                                             </nav>
                                        </div>
                                   </div>
                              </div>

                         </div>

                    </div>
                    <!-- Scrollable modal -->

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 350px; background-color: #F9F7F7;">
                         <div class="offcanvas-header">
                              <h5 id="offcanvasRightLabel">Return Requests</h5>
                              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                         </div>
                         <div class="offcanvas-body">
                              <div> 
                                   <% if(returnReq && returnReq.length !==0) { %>
                                   <table>
                                        <tbody>
                                             <% for(let i = 0; i<returnReq.length; i++) { %>
                                             <tr id="return-request-row<%= i %>">
                                                  <td class="card" style="width: 300px; margin-bottom: 5px;">
                                                       <div class="card-body">
                                                            <p class="mb-1">user: <span><%= returnReq[i].orderId.userId.email %></span></p>
                                                            <a class="mb-3" href="/admin/orderDetails?id=<%= returnReq[i].orderId._id %>">Order id: <%= returnReq[i].orderId.orderedId %></a>
                                                            <% if(returnReq[i].isAllItem) { %>
                                                                 <p class="mt-2">Type: All Products</p>
                                                            <% } else { %>
                                                                 <p class="mt-2 mb-0 p-0">type: Indivitual Product</p>
                                                                 <p class="mt-1 mb-0"><%= returnReq[i].items.length %> items :</p>
                                                                 <% for(let j = 0; j<returnReq[i].items.length; j++) { %>
                                                                 <div class="d-flex justify-content-end">
                                                                      <p class="mb-0 d-inline me-5">Name: <span><%= returnReq[i].items[j].itemName %></span></p>
                                                                      <p class="mb-0 d-inline">Quantity: <span><%= returnReq[i].items[j].quantity %></span></p>
                                                                 </div> 
                                                                 <% } %>
                                                            <% } %>
                                                            <p class="mb-0 mt-1">reasons:</p>
                                                            <ul>
                                                                 <% if(returnReq[i].reasons.includes('1')) { %>
                                                                      <li>Damaged Product</li>
                                                                 <% } %>
                                                                 <% if(returnReq[i].reasons.includes('2')) { %>
                                                                      <li>Wrong Item Delivered</li>
                                                                 <% } %>
                                                                 <% if(returnReq[i].reasons.includes('3')) { %>
                                                                      <li>Not Satisfied with the Product</li>
                                                                 <% } %>
                                                                 <% if(returnReq[i].reasons.includes('4')) { %>
                                                                      <li>Other</li>
                                                                 <% } %>
                                                            </ul>
                                                            <div class="d-flex justify-content-between p-1">
                                                                 <button type="button" class="btn btn-success" onclick="acceptReturn(event, '<%= returnReq[i]._id %>', '<%= i %>')">approve</button>
                                                                 <button type="button" class="btn btn-danger" onclick="rejectReturn(event, '<%= returnReq[i]._id %>', '<%= i %>')">reject</button>
                                                            </div>
                                                       </div>
                                                  </td>
                                             </tr> 
                                             <% } %>
                                        </tbody>
                                   </table>
                                   <% } %>
                              </div>
                         </div>
                    </div>

                    <!-- End Container Fluid -->

                    <!-- ========== Footer Start ========== -->
                    <%- include('../partials/admin/footer') %>
                    <!-- ========== Footer End ========== -->

               </div>
               <!-- ==================================================== -->
               <!-- End Page Content -->
               <!-- ==================================================== -->


          </div>

     </div>
     <!-- END Wrapper -->

     <!-- Vendor Javascript (Require in all Page) -->
     <script src="assets/js/vendor.js"></script>

     <!-- App Javascript (Require in all Page) -->
     <script src="assets/js/app.js"></script>
     <script>
          function covertDate(element, newDate) {
               const date = new Date(newDate)
               const convertedDate = date.getDate() +  " " + date.toLocaleString('default', { month: 'short' }) + " " + date.getFullYear();
               element.innerHTML = convertedDate;
          }
          document.addEventListener('DOMContentLoaded', () => {
               const dateElem = document.querySelectorAll('.convert-date');
               dateElem.forEach((element) => {
                    const date = element.getAttribute('data-date');
                    covertDate(element, date)
               })
          });

          async function acceptReturn(event, id, index) {
               event.preventDefault();
               try {
                    const response = await fetch(`/admin/acceptReturnReq?id=${id}`, {method: 'PATCH'})
                    const data = await response.json();
                    if(!response.ok) {
                         throw new Error(data.message);
                    } 
                    if(data.success) {
                         Swal.fire({
                              position: "top-end",
                              icon: 'success',
                              title: 'Return accepted successfully.',
                              showConfirmButton: false,
                              timer: 1500,
                              customClass: {
                                   popup: 'custom-swal-popup'
                              }
                         });
                         document.getElementById(`return-request-row${index}`).style.display = 'none';
                    } 
               } catch (error) {
                    Swal.fire({
                         position: "top-end",
                         icon: "error",
                         title: "Oops...",
                         text: error.message,
                         showConfirmButton: false,
                         timer: 1500,
                         customClass: {
                              popup: 'custom-swal-popup'
                         }
                    });
               }
          } 

          async function rejectReturn(event, id, index) {
               event.preventDefault();
               try {
                    const response = await fetch(`/admin/rejectReturn?id=${id}`, {method: 'PATCH'});
                    const data = await response.json();
                    if(!response.ok) {
                         throw new Error(data.message);
                    } 
                    if(data.success) {
                         Swal.fire({
                              position: "top-end",
                              icon: 'success',
                              title: 'Return rejected successfully.',
                              showConfirmButton: false,
                              timer: 1500,
                              customClass: {
                                   popup: 'custom-swal-popup'
                              }
                         });
                         document.getElementById(`return-request-row${index}`).style.display = 'none';
                    }
               } catch (error) {
                    Swal.fire({
                         position: "top-end",
                         icon: "error",
                         title: "Oops...",
                         text: error.message,
                         showConfirmButton: false,
                         timer: 1500,
                         customClass: {
                              popup: 'custom-swal-popup'
                         }
                    });
               }
          }
          
          async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);
     </script>
</body>


<!-- Mirrored from techzaa.in/larkon/admin/orders-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->
</html>