<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/product-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:16 GMT -->
<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>Invoices List | Larkon - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="adminAssets/images/favicon.ico">

    <!-- Vendor css (Require in all Page) -->
    <link href="adminAssets/css/vendor.min.css" rel="stylesheet" type="text/css" />

    <!-- Icons css (Require in all Page) -->
    <link href="adminAssets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App css (Require in all Page) -->
    <link href="adminAssets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Config js (Require in all Page) -->
    <script src="adminAssets/js/config.js"></script>
    <style>
          .image-container,
          .size-container {
               display: none;
          }
    </style>
</head>

<body>

    <!-- START Wrapper -->
    <div class="wrapper">

        <!-- ========== Topbar Start ========== -->
        <%- include('../partials/admin/header') %>
        <!-- Right Sidebar (Theme Settings) -->
        <%- include('../partials/admin/theme') %>
        <!-- ========== Topbar End ========== -->

        <!-- ========== App Menu Start ========== -->
        <%- include('../partials/admin/nav') %>
        <!-- ========== App Menu End ========== -->

        <!-- ==================================================== -->
        <!-- Start right Content here -->
        <!-- ==================================================== -->
        <div class="page-content">

            <!-- Start Container Fluid -->
            <div class="container-xxl">

                <div class="row">
                     <div class="col-lg-4">
                          <div class="card">
                               <div class="card-body">
                                   <!-- Crossfade -->
                                   <% if(product.variant.length>1) { %>
                                        <% for(let i = 0; i < product.variant.length; i++) { %>
                                             <div id="image-container<%= i %>" class="image-container carousel carousel-fade">
                                                  <div class="carousel-inner">
                                                       <div class="carousel-item active">
                                                            <img id="mainImg<%= i %>" src="<%= product.variant[i].image[0] %>" alt="" class="img-fluid bg-light rounded">
                                                       </div>
                                                  </div>
                                                  <div class="carousel-indicators m-0 mt-2 d-lg-flex d-none position-static h-100">
                                                       <button onclick="mainImg('<%= i %>1', '<%= i %>')" type="button" id="imgBtn<%= i %>1" data-bs-target="#carouselExampleFade" class="imgBtn w-auto h-auto rounded bg-light active">
                                                            <img id="img<%= i %>1" src="<%= product.variant[i].image[0] %>" class="d-block rounded avatar-xl" alt="swiper-indicator-img">
                                                       </button>
                                                       <button onclick="mainImg('<%= i %>2', '<%= i %>')" type="button" id="imgBtn<%= i %>2" data-bs-target="#carouselExampleFade" class="imgBtn w-auto h-auto rounded bg-light">
                                                            <img id="img<%= i %>2" src="<%= product.variant[i].image[1] %>" class="d-block rounded avatar-xl" alt="swiper-indicator-img">
                                                       </button>
                                                       <button onclick="mainImg('<%= i %>3', '<%= i %>')" type="button" id="imgBtn<%= i %>3" data-bs-target="#carouselExampleFade" class="imgBtn w-auto h-auto rounded bg-light">
                                                            <img id="img<%= i %>3" src="<%= product.variant[i].image[2] %>" class="d-block rounded avatar-xl" alt="swiper-indicator-img">
                                                       </button>
                                                  </div>
                                             </div>
                                             <% } %>
                                   <% } else { %>
                                        <div id="image-container" class="carousel carousel-fade">
                                             <div class="carousel-inner">
                                                  <div class="carousel-item active">
                                                       <img id="mainImg0" src="<%= product.variant[0].image[0] %>" alt="" class="img-fluid bg-light rounded">
                                                  </div>
                                             </div>
                                             <div class="carousel-indicators m-0 mt-2 d-lg-flex d-none position-static h-100">
                                                  <button id="imgBtn1" type="button" onclick="mainImg(1,0)" data-bs-target="#carouselExampleFade" class="imgBtn w-auto h-auto rounded bg-light active">
                                                       <img id="img1" src="<%= product.variant[0].image[0] %>" class="d-block rounded avatar-xl" alt="swiper-indicator-img">
                                                  </button>
                                                  <button id="imgBtn2" type="button" onclick="mainImg(2,0)" data-bs-target="#carouselExampleFade" class="imgBtn w-auto h-auto rounded bg-light">
                                                       <img id="img2" src="<%= product.variant[0].image[1] %>" class="d-block rounded avatar-xl" alt="swiper-indicator-img">
                                                  </button>
                                                  <button id="imgBtn3" type="button" onclick="mainImg(3,0)" data-bs-target="#carouselExampleFade" class="imgBtn w-auto h-auto rounded bg-light">
                                                       <img id="img3" src="<%= product.variant[0].image[2] %>" class="d-block rounded avatar-xl" alt="swiper-indicator-img">
                                                  </button>
                                             </div>
                                        </div>
                                   <% } %>
                               </div>
                          </div>
                     </div>
                     <div class="col-lg-8">
                          <div class="card">
                               <div class="card-body">
                                   <div class="d-flex justify-content-between align-items-center">
                                        <p id="product-name" class="mb-1 fs-24 text-dark fw-medium" data-variantlen="<%= product.variant.length %>"><%= product.productName %></p>
                                        <div>  
                                             <a href="/admin/editProduct?id=<%= product._id %>" class="btn btn-sm btn-primary me-1">
                                                  Edit
                                             </a>
                                             <a href="/admin/products" class="btn btn-sm btn-primary">
                                                  All Products
                                             </a>
                                        </div>
                                   </div>
                               

                                   <h4 class="fw-medium mt-3">Sale Price: <%= product.salePrice %></h4>
                                   <h4 class="fw-medium mt-2">Regular Price: <%= product.regularPrice %></h4>
                                   <% if(offerPrice) { %>
                                        <h4 class="fw-medium mt-2">Offer Price: <%= offerPrice %>
                                             <% if(product.offerApplied.discountType === 'percentage') { %>
                                                  <span class="text-danger ms-2">(<%= product.offerApplied.discountVal %>%Off)</span>
                                             <% } else { %>
                                             <span class="text-danger ms-2">(<%= product.offerApplied.discountVal %>Rs Off)</span>
                                             <% } %>
                                        </h4>
                                   <% } %>

                                    <div class="row align-items-center g-2 mt-3">
                                         <div class="col-lg-12">
                                              <div class="">
                                                  <h5 class="text-dark fw-medium">Colors ></h5>
                                                  <div class="d-flex flex-wrap gap-2">
                                                       <% if(product.variant.length>1) { %>
                                                            <% for(let i = 0; i<product.variant.length; i++) { %>
                                                                 <div id="color-container<%= i %>" role="group" aria-label="Basic checkbox toggle button group">
                                                                      <button id="color<%= i %>" class="btn btn-light" type="button"><%= product.variant[i].color %></button>
                                                                 </div>
                                                            <% } %>
                                                       <% } else { %>
                                                            <div id="color-container" role="group" aria-label="Basic checkbox toggle button group">
                                                                 <button class="btn btn-primary" type="button"><%= product.variant[0].color %></button>
                                                            </div>
                                                       <% } %>
                                                  </div>
                                              </div>
                                         </div>
                                         <div class="col-lg-6 mt-3">
                                             <div class="">
                                                  <h5 class="text-dark fw-medium">Size ></h5>
                                                  <% if(product.variant.length>1) { %>
                                                       <% for(let i = 0; i<product.variant.length; i++) { %>
                                                            <div id="size-container<%= i %>" class="size-container flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
                                                                 <p>XS: <span>  <%= product.variant[i].XS %></span></p>
                                                                 <p>S: <span><%= product.variant[i].S %></span></p>
                                                                 <p>M: <span><%= product.variant[i].M %></span></p>
                                                                 <p>L: <span><%= product.variant[i].L %></span></p>
                                                                 <p>XL: <span><%= product.variant[i].XL %></span></p>
                                                                 <p>XXL: <span><%= product.variant[i].XXL %></span></p>
                                                                 <p>XXXL: <span><%= product.variant[i].XXXL %></span></p>
                                                            </div>
                                                       <% } %>
                                                  <% } else { %>
                                                       <div id="size-container" class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
                                                            <p>XS: <span>  <%= product.variant[0].XS %></span></p>
                                                            <p>S: <span><%= product.variant[0].S %></span></p>
                                                            <p>M: <span><%= product.variant[0].M %></span></p>
                                                            <p>L: <span><%= product.variant[0].L %></span></p>
                                                            <p>XL: <span><%= product.variant[0].XL %></span></p>
                                                            <p>XXL: <span><%= product.variant[0].XXL %></span></p>
                                                            <p>XXXL: <span><%= product.variant[0].XXXL %></span></p>
                                                       </div>
                                                  <% } %>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <h4 class="text-dark fw-medium">Category :</h4>
                                        <p class="text-muted ms-2"><%= cateName %></p>
                                    </div>
                                    <div class="d-flex mt-1">
                                        <h4 class="text-dark fw-medium">Description :</h4>
                                        <p class="text-muted ms-2"><%= product.description %></p>
                                    </div>
                                    <div class="d-flex">
                                        <h4 class="text-dark fw-medium mt-1">Available offer :</h4>
                                        <% if(offerPrice) { %>
                                            <div class="d-flex align-items-center ms-2">
                                                 <i class="bx bxs-bookmarks text-success fs-20 "></i>
                                                 <p class="mb-0 ms-2"><span class="fw-medium text-dark"><%= product.offerApplied.name %>-</span> <%= product.offerApplied.description %></p>
                                            </div>
                                        <% } else { %>
                                            <h4 class="ms-2 mt-1">nil</h4>
                                       <% } %>
                                    </div>
                               </div>
                          </div>
                     </div>
                </div>
            <!-- End Container Fluid -->
            <!-- ========== Footer Start ========== -->
            <%- include('../partials/admin/footer') %>
            <!-- ========== Footer End ========== -->

        </div>
        <!-- ==================================================== -->
        <!-- End Page Content -->
        <!-- ==================================================== -->

    </div>
    <!-- END Wrapper -->

    <!-- Vendor Javascript (Require in all Page) -->
    <script src="adminAssets/js/vendor.js"></script>

    <!-- App Javascript (Require in all Page) -->
    <script src="adminAssets/js/app.js"></script>

    <script src="adminAssets/js/pages/product-details.js"></script>

    <script>
     const variantLength = document.getElementById('product-name').dataset.variantlen;
     if(variantLength>1) {
          document.getElementById('size-container0').style.display = 'block';
          document.getElementById('size-container0').classList.add('d-flex')
          document.getElementById('image-container0').style.display = 'block';
      
          for(let i = 0; i<variantLength; i++) {
               document.getElementById('color'+i).addEventListener('click', () => {
                    document.querySelectorAll('.image-container').forEach(element => {
                         element.style.display = 'none';
                    });
                    document.querySelectorAll('.size-container').forEach(element => {
                         element.classList.remove('d-flex');
                         element.style.display = 'none';
                    });
                    document.querySelectorAll('.imgBtn').forEach(element => {
                         element.classList.remove('active');
                    })
                    document.getElementById('image-container'+i).style.display = 'block';
                    document.getElementById('size-container'+i).style.display = 'block';
                    document.getElementById('size-container'+i).classList.add('d-flex');
                    document.getElementById(`imgBtn${i}1`).classList.add('active');
               });
          }
     }
     function mainImg(imgIndex, mainIndex) {
          document.getElementById(`mainImg${mainIndex}`).src =  document.getElementById(`img${imgIndex}`).src;
          document.querySelectorAll('.imgBtn').forEach(element => {
               element.classList.remove('active');
          })
          document.getElementById(`imgBtn${imgIndex}`).classList.add('active');
     }

     async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);
    </script>

</body>


<!-- Mirrored from techzaa.in/larkon/admin/product-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:16 GMT -->
</html>