<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/category-edit.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->
<head>
     <!-- Title Meta -->
     <meta charset="utf-8" />
     <title>Category Edit | Larkon - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="A fully responsive premium admin dashboard template" />
     <meta name="author" content="Techzaa" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="adminAssets/images/favicon.ico">

     <!-- Vendor css (Require in all Page) -->
     <link href="adminAssets/css/vendor.min.css" rel="stylesheet" type="text/css" />

     <!-- Icons css (Require in all Page) -->
     <link href="adminAssets/css/icons.min.css" rel="stylesheet" type="text/css" />

     <!-- App css (Require in all Page) -->
     <link href="adminAssets/css/app.min.css" rel="stylesheet" type="text/css" />

     <!-- Theme Config js (Require in all Page) -->
     <script src="adminAssets/js/config.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <style>
          .error-message {
               display: none;
          }
          .display-none {
               display: none;
          }
          .short-swal-popup {
               width: 300px; 
               padding: 0;
               font-size: 15px;
          }

          .short-swal-content {
               font-size: 15px;
               margin: 0; 
               padding: 0; 
          }

          .swal2-actions {
               gap: 5px; 
          }

          .swal2-icon.swal2-error {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 30px; 
               height: 30px;
               margin: 0; 
               font-size: 15px;
               line-height: 30px; 
          }

          .swal2-icon.swal2-error::before {
               content: '✖'; 
               color: red;
          }

          .swal2-icon.swal2-success {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 30px !important; /* Smaller icon width */
               height: 30px !important; /* Smaller icon height */
               margin: 0 !important; /* Remove default margins */
               font-size: 16px !important; /* Adjust font size for symbol */
               line-height: 30px; /* Vertically align the icon */
          }

          .swal2-icon.swal2-success::before {
               content: '✔'; /* Use a simple checkmark for the success icon */
               color: green;
          }

          .compact-swal-popup {
               width: auto !important; 
               height: auto !important; 
               padding: 20px 20px !important;
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 8px;
          }
          .swal2-title {
               font-size: 18px !important;
               margin: 0 !important;
               line-height: 1.5 !important;
          }


          .swal2-html-container {
               margin: 0 !important; 
          }

          .swal2-timer-progress-bar {
          height: 2px !important;
          }
     </style>
</head>

<body>

     <!-- START Wrapper -->
     <div class="wrapper">

          <!-- ========== Topbar Start ========== -->
          <%- include('../partials/admin/header') %>
          <!-- Right Sidebar (Theme Settings) -->
          <%- include('../partials/admin/theme') %>
          <!-- ========== Topbar End ========== -->

          <!-- ========== App Menu Start ========== -->
          <%- include('../partials/admin/nav') %>
          <!-- ========== App Menu End ========== -->

          <!-- ==================================================== -->
          <!-- Start right Content here -->
          <!-- ==================================================== -->
          <div class="page-content">

               <!-- Start Container Fluid -->
               <div class="container-xxl">

                    <div class="row">
                         <div class="col">
                              <div class="card">
                                   <div class="card-header d-flex justify-content-between align-items-center gap-1">
                                        <h4 class="card-title flex-grow-1">General Information</h4>
                                        <a href="/admin/category" class="btn btn-sm btn-primary">
                                             All Category
                                        </a>
                                   </div>
                                   <div class="card-body">
                                        <div class="row">
                                             <div class="col-lg-12">
                                                       <label for="name" class="form-label">Category Name</label>
                                                       <input type="text" id="name" class="form-control" placeholder="Enter Name" value="<%= category.name %>">
                                                       <p class="mt-1 text-danger error-message " id="name-error"></p>
                                             </div>
                                             <div class="col-lg-12 mt-3">
                                                  <label for="description" class="form-label">Description</label>
                                                  <textarea class="form-control bg-light-subtle" id="description" rows="7" placeholder="Type description"><%= category.description %></textarea>
                                                  <p class="mt-1 text-danger error-message " id="description-error"></p>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="p-3 bg-light mb-3 rounded">
                                   <div class="row justify-content-end g-2">
                                        <div class="col-lg-2">
                                             <button id="save-btn" class="btn btn-outline-secondary w-100">Save Change</button>
                                        </div>
                                        <div class="col-lg-2">
                                             <a href="/admin/editCategory?id=<%= category._id %>" class="btn btn-primary w-100">Cancel</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
               <!-- End Container Fluid -->

               <!-- ========== Footer Start ========== -->
               <%- include('../partials/admin/footer') %>
               <!-- ========== Footer End ========== -->

          </div>
          <!-- ==================================================== -->
          <!-- End Page Content -->
          <!-- ==================================================== -->


     </div>
     <!-- END Wrapper -->

     <!-- Vendor Javascript (Require in all Page) -->
     <script src="adminAssets/js/vendor.js"></script>

     <!-- App Javascript (Require in all Page) -->
     <script src="adminAssets/js/app.js"></script>
     <script>
          async function validateAndSubmit(event) {
               event.preventDefault();
               try {
                    const formData = validateform();
                    if(!formData) {
                         return;
                    }
                    const response = await fetch('/admin/editCategory/<%= category._id %>', {
                         method:'PUT',
                         headers: {
                              'content-type': 'application/json'
                         },
                         body: JSON.stringify(formData)
                    });
                    const data = await response.json();
                    if(!response.ok) {
                         throw new Error(data.message);
                    }
                    if(data.success) {
                         Swal.fire({
                              position: "top-end",
                              html: `
                                   <div style="display: flex; align-items: center; gap: 10px;">
                                        <div>
                                             <div class="swal2-icon swal2-success" style="width: 30px; height: 30px; margin: 0; font-size: 16px;"></div>
                                        </div>
                                        <div style="font-size: 20px; text-align: left;">Edited successfully!</div>
                                   </div>
                              `,
                              showConfirmButton: false,
                              timer: 1500,
                              customClass: {
                                   popup: 'compact-swal-popup',
                              }
                         })
                         .then(() => {
                              window.location.href = '/admin/category';
                         })
                    }
               } catch (error) {
                    Swal.fire({
                         position: "top-end",
                         html: `
                              <div style="display: flex; align-items: center; gap: 10px;">
                                   <div>
                                        <div class="swal2-icon swal2-error" style="width: 30px; height: 30px; margin: 0; font-size: 16px;"></div>
                                   </div>
                                   <div style="font-size: 20px; text-align: left;">Oops... ${error.message}</div>
                              </div>
                         `,
                         showConfirmButton: false,
                         timer: 1500,
                         customClass: {
                              popup: 'compact-swal-popup',
                         }
                    });
               }
          }
          document.getElementById('save-btn').addEventListener('click', validateAndSubmit);
          function validateform() {
               clearErrorMessages();
               let isValid = true;
               const name = document.getElementById('name').value;
               const description = document.getElementById('description').value;
               const nameError = document.getElementById('name-error');
               const descriptionError = document.getElementById('description-error');

               if(name === "") {
                    displayErrorMessage('name-error', 'Please enter a name');
                    isValid = false;
               } else if(!/^[a-zA-Z\s]+$/.test(name)) {
                    displayErrorMessage('name-error', 'Category name should conatin only alphabetic characters');
                    isValid = false;
               }
               if(description === "") {
                    displayErrorMessage('description-error', 'Please enter a description');
                    isValid = false;
               } 
               if(isValid) {
                    return {name, description}
               } else {
                    return false;
               }
          }


          function displayErrorMessage(elementId, message) {
               let errorElement = document.getElementById(elementId);
               errorElement.innerHTML = message;
               errorElement.style.display = 'block';
          }

          function clearErrorMessages() {
               const errorElements = document.querySelectorAll('.error-message');
               errorElements.forEach(element => {
                    element.innerHTML = '';
                    element.style.display = 'none';
               });
          }
          async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);
     </script>
</body>


<!-- Mirrored from techzaa.in/larkon/admin/category-edit.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->
</html>