<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/customer-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:27 GMT -->
<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>Customer List | Larkon - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Vendor css (Require in all Page) -->
    <link href="assets/css/vendor.min.css" rel="stylesheet" type="text/css" />

    <!-- Icons css (Require in all Page) -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App css (Require in all Page) -->
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Config js (Require in all Page) -->
    <script src="assets/js/config.js"></script>
    <style>
     .short-swal-popup {
     width: 300px; 
     padding: 0;
     font-size: 15px;
     }

     .short-swal-content {
          font-size: 15px;
          margin: 0; 
          padding: 0; 
     }

     .short-swal-confirm-btn {
          padding: 5px 10px;
          font-size: 15px;
          border-radius: 4px;
     }

     .short-swal-cancel-btn {
          padding: 5px 10px;
          font-size: 15px;
          border-radius: 4px;
     }

     
     .swal2-actions {
          gap: 5px; 
     }

     .swal2-icon.swal2-error {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px; 
          height: 30px;
          margin: 0; 
          font-size: 15px;
          line-height: 30px; 
     }

     .swal2-icon.swal2-error::before {
          content: '✖'; 
          color: red;
     }

     .compact-swal-popup {
          width: auto !important; 
          height: auto !important; 
          padding: 20px 20px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
     }
     .swal2-title {
          font-size: 18px !important;
          margin: 0 !important;
          line-height: 1.5 !important;
     }
     .swal2-html-container {
          margin: 0 !important; 
     }

     .swal2-timer-progress-bar {
     height: 2px !important;
     }
</style>
</head>

<body>

    <!-- START Wrapper -->
    <div class="wrapper">

        <!-- ========== Topbar Start ========== -->
        <%- include('../partials/admin/header') %>
        <!-- Right Sidebar (Theme Settings) -->
        <%- include('../partials/admin/theme') %>
        <!-- ========== Topbar End ========== -->

        <!-- ========== App Menu Start ========== -->
        <%- include('../partials/admin/nav') %>
        <!-- ========== App Menu End ========== -->

        <!-- ==================================================== -->
        <!-- Start right Content here -->
        <!-- ==================================================== -->

        <div class="page-content">

            <!-- Start Container Fluid -->
            <div class="container-xxl">

                <div class="row">
                <div class="row">
                    <div class="col-xl-12">
                         <div class="card">
                              <div class="d-flex card-header justify-content-between align-items-center">
                                   <div>
                                        <h4 class="card-title">All Customers List</h4>
                                   </div>
                              </div>
                              <div>
                                   <div class="table-responsive">
                                        <table class="table align-middle mb-0 table-hover table-centered">
                                             <thead class="bg-light-subtle">
                                                  <tr>
                                                       <th style="width: 20px;">
                                                            <div class="form-check">
                                                                 <input type="checkbox" class="form-check-input" id="customCheck1">
                                                                 <label class="form-check-label" for="customCheck1"></label>
                                                            </div>
                                                       </th>
                                                       <th>Customer Name</th>
                                                       <th>Email</th> 
                                                       <th>Status</th>
                                                       <th>Action</th>
                                                  </tr>
                                             </thead>
                                             <tbody>
                                                  <% for(let i=0; i<data.length;i++){ %>
                                                  <tr>
                                                       <td>
                                                            <div class="form-check">
                                                                 <input type="checkbox" class="form-check-input" id="customCheck2">
                                                                 <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                            </div>
                                                       </td>
                                                       <td><%= data[i].name %></td>
                                                       <td><%= data[i].email %></td>
                                                       <td>
                                                            <% if(data[i].isBlocked) { %>
                                                            <span id="unblocked<%= i %>" class="d-none badge text-success bg-success-subtle fs-12 display-none"><i class="bx bx-check-double"></i>Unblocked</span>
                                                            <span id="blocked<%= i %>" class="badge text-danger bg-danger-subtle fs-12 display-none"><i class="bx bx-x"></i>Blocked</span>
                                                            <% } else { %>
                                                            <span id="unblocked<%= i %>" class="badge text-success bg-success-subtle fs-12 display-none"><i class="bx bx-check-double"></i>Unblocked</span>
                                                            <span id="blocked<%= i %>" class="d-none badge text-danger bg-danger-subtle fs-12 display-none"><i class="bx bx-x"></i>Blocked</span>
                                                            <% } %>
                                                       </td>
                                                       <td>
                                                            <% if(data[i].isBlocked) { %>
                                                            <button id="block-btn<%= i %>" onclick="blockUser(event, '<%= data[i]._id %>', 'block', '<%= i %>')" type="button" class="d-none btn btn-danger">Block</button>
                                                            <button id="unblock-btn<%= i %>" onclick="blockUser(event, '<%= data[i]._id %>', 'unblock', '<%= i %>')" type="button" class="btn btn-success">Unblock</button>
                                                            <% } else { %>
                                                            <button id="block-btn<%= i %>" onclick="blockUser(event, '<%= data[i]._id %>', 'block', '<%= i %>')" type="button" class="btn btn-danger">Block</button>
                                                            <button id="unblock-btn<%= i %>" onclick="blockUser(event, '<%= data[i]._id %>', 'unblock', '<%= i %>')" type="button" class="d-none btn btn-success">Unblock</button>
                                                            <% } %>
                                                       </td>
                                                  </tr>
                                                  <% } %>
                                             </tbody>
                                        </table>
                                   </div>
                                   <!-- end table-responsive -->
                              </div>
                              <div class="card-footer border-top">
                                   <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                             <% if(currentPage > 1) { %>
                                                  <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a></li>
                                             <% } for(let i = 1; i<= totalPages; i++) { if(i == currentPage) { %>
                                                  <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                             <% } else { %>
                                                  <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                                             <% }} if(currentPage < totalPages) { %>
                                                  <li class="page-item"><a class="page-link" href="?page=<%= Number(currentPage) + 1 %>">Next</a></li>
                                             <% } %> 
                                        </ul>
                                   </nav>
                              </div>
                         </div>
                    </div>

               </div>
            </div>
            <!-- End Container Fluid -->

            <!-- ========== Footer Start ========== -->
            <%- include('../partials/admin/footer') %>
            <!-- ========== Footer End ========== -->

        </div>
        <!-- ==================================================== -->
        <!-- End Page Content -->
        <!-- ==================================================== -->

    </div>
    <!-- END Wrapper -->

    <!-- Vendor Javascript (Require in all Page) -->
    <script src="assets/js/vendor.js"></script>

    <!-- App Javascript (Require in all Page) -->
    <script src="assets/js/app.js"></script>
    <script>
      function blockUser(event, id, value, index) {
          event.preventDefault();
          if(value === 'block') {
               Swal.fire({
                    position: "top-end",
                    title: 'Are you sure you want to block?',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    customClass: {
                         popup: 'short-swal-popup',
                         confirmButton: 'short-swal-confirm-btn',
                         cancelButton: 'short-swal-cancel-btn'
                    }
               })
               .then(result => {
                    if(result.isConfirmed) {
                         fetchFunction(id, value, index);
                    }
               })
          } else {
               Swal.fire({
                    position: "top-end",
                    title: 'Are you sure you want to unblock?',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    customClass: {
                         popup: 'short-swal-popup',
                         confirmButton: 'short-swal-confirm-btn',
                         cancelButton: 'short-swal-cancel-btn'
                    }
               })
               .then(result => {
                    if(result.isConfirmed) {
                         fetchFunction(id, value, index);
                    }
               })
          }
      }

     async function fetchFunction(id, value, index) {
          try {
               const response = await fetch(`/admin/blockUser?id=${id}&status=${value}`, {method: 'PATCH'});
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    if(data.isBlocked) {
                         document.getElementById(`unblocked${index}`).classList.add('d-none');
                         document.getElementById(`block-btn${index}`).classList.add('d-none');
                         document.getElementById(`blocked${index}`).classList.remove('d-none');
                         document.getElementById(`unblock-btn${index}`).classList.remove('d-none');
                    } else {
                         document.getElementById(`blocked${index}`).classList.add('d-none');
                         document.getElementById(`unblock-btn${index}`).classList.add('d-none');
                         document.getElementById(`unblocked${index}`).classList.remove('d-none');
                         document.getElementById(`block-btn${index}`).classList.remove('d-none');
                    }
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    html: `
                         <div style="display: flex; align-items: center; gap: 10px;">
                              <div>
                                   <div class="swal2-icon swal2-error" style="width: 30px; height: 30px; margin: 0; font-size: 16px;"></div>
                              </div>
                              <div style="font-size: 20px; text-align: left;">Oops... ${error.message}</div>
                         </div>
                    `,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'compact-swal-popup',
                    }
               });
          }   
     }

     async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);
    </script>
</body>


<!-- Mirrored from techzaa.in/larkon/admin/customer-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:27 GMT -->
</html>