<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/coupons-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:31 GMT -->
<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>Offers Add | Larkon - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Vendor css (Require in all Page) -->
    <link href="assets/css/vendor.min.css" rel="stylesheet" type="text/css" />

    <!-- Icons css (Require in all Page) -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App css (Require in all Page) -->
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Config js (Require in all Page) -->
    <script src="assets/js/config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    .custom-swal-popup .swal2-html-container {
        font-size: 15px;
    }
  .error-message {
        display: none;
    }
    #offer-cat-cont,
    #offer-user-cont {
      display: none;
    }
</style>
<body>

    <!-- START Wrapper -->
    <div class="wrapper">

        <!-- ========== Topbar Start ========== -->
        <%- include('../partials/admin/header') %>

        <!-- Right Sidebar (Theme Settings) -->
        <%- include('../partials/admin/theme') %>
        <!-- ========== Topbar End ========== -->

        <!-- ========== App Menu Start ========== -->
        <%- include('../partials/admin/nav') %>
        <!-- ========== App Menu End ========== -->

        <!-- ==================================================== -->
        <!-- Start right Content here -->
        <!-- ==================================================== -->

        <div class="page-content">

            <!-- Start Container Fluid -->
            <div class="container-xxl">

            <div class="row">
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Offer Status</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <div class="form-check">
                                             <input class="form-check-input" value="active" type="radio" name="offer-status" id="active-offer" checked>
                                             <label class="form-check-label" for="active-offer">
                                                  Active
                                             </label>
                                        </div>
                                   </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" value="inactive" type="radio" name="offer-status" id="inactive-offer">
                                        <label class="form-check-label" for="inactive-offer">
                                             In Active
                                        </label>
                                   </div>
                                </div>
                                <!-- <div class="col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault11">
                                        <label class="form-check-label" for="flexRadioDefault11">
                                            Future Plan
                                        </label>
                                   </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Date Schedule</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                  <label for="start-date" class="form-label text-dark">Start Date</label>
                                  <input type="text" id="start-date" class="form-control flatpickr-input active" placeholder="dd-mm-yyyy" readonly="readonly">
                                  <div class="text-danger error-message mt-1" id="srtdate-error"></div>
                            </div>
                            <div class="mb-3">
                                  <label for="end-date" class="form-label text-dark">End Date</label>
                                  <input type="text" id="end-date" class="form-control flatpickr-input active" placeholder="dd-mm-yyyy" readonly="readonly">
                                  <div class="text-danger error-message mt-1" id="enddate-error"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="card">
                         <div class="card-header d-flex justify-content-between align-items-center gap-1">
                              <h4 class="card-title flex-grow-1">Offer information</h4>

                              <a href="/admin/offers" class="btn btn-sm btn-primary">
                                   All Offers
                              </a>
                         </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="mb-3">
                                  <label for="offer-name" class="form-label">Offer name</label>
                                  <input type="text" id="offer-name" class="form-control" placeholder="Name enter">
                                  <div class="text-danger error-message mt-1" id="name-error"></div>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="mb-3">
                                  <label for="offer-description"
                                        class="form-label">Description</label>
                                  <textarea class="form-control bg-light-subtle"
                                        id="offer-description" rows="7"
                                        placeholder="Short description about the Offer"></textarea>
                                  <div id="description-error" class="text-danger error-message mt-1"></div>
                              </div>
                            </div>
                          </div>
                          <h4 class="card-title mb-3 mt-2">Offer Types</h4>
                          <div class="row mb-3">
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" value="product" type="radio" name="offer-type" id="product-offer" checked>
                                        <label class="form-check-label" for="product-offer">
                                            Product
                                        </label>
                                  </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" value="category" type="radio" name="offer-type" id="category-offer">
                                        <label class="form-check-label" for="category-offer">
                                            Category
                                        </label>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6" id="offer-pro-cont">
                                    <label for="product-options" class="form-label">Offer Products</label>
                                    <select class="form-control" id="product-options" data-choices data-choices-groups data-placeholder="Select Products" name="choices-single-groups" multiple>
                                          <option value="">Choose products</option>
                                          <% if(products) { %>
                                            <% for(let i = 0; i<products.length; i++) { %>
                                              <option value="<%= products[i]._id %>"><%= products[i].productName %></option>
                                          <% }} %>                                         
                                    </select>
                                    <div class="text-danger error-message mt-1" id="pro-choose-error"></div>
                                </div>
                                <div class="col-lg-6 mb-3" id="offer-cat-cont">
                                      <label for="category-options" class="form-label">Offer Categories</label>
                                      <select class="form-control" id="category-options" data-choices data-choices-groups data-placeholder="Select Categories" name="choices-country" multiple>
                                            <option value="">Choose Categories</option>
                                            <optgroup label="">
                                              <% if(categories) { %>
                                                <% for(let i = 0; i<categories.length; i++) { %>
                                                  <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                                              <% }} %> 
                                            </optgroup>
                                      </select>
                                      <div class="text-danger error-message mt-1" id="cat-choose-error"></div>
                                </div>
                            </div>
                            <h4 class="card-title mb-3 mt-2">Discount Types</h4>
                            <div class="row mb-3">
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" value="percentage" type="radio" name="discount-type" id="percentage-dis" checked>
                                        <label class="form-check-label" for="percentage-dis">
                                            Percentage
                                        </label>
                                   </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" value="fixedAmount" type="radio" name="discount-type" id="fixed-dis">
                                        <label class="form-check-label" for="fixed-dis">
                                            Fixed Amount
                                        </label>
                                   </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="">
                                        <label for="discount-value" class="form-label">Discount Value</label>
                                        <input type="text" id="discount-value" name="discount-value" class="form-control" placeholder="value enter">
                                        <div class="text-danger error-message mt-1" id="discount-error"></div>
                                   </div>
                                </div>
                                <div class="col-lg-6" id="max-discount-cont">
                                  <div class="">
                                      <label for="max-discount" class="form-label">Max Discount</label>
                                      <input type="text" id="max-discount" class="form-control" placeholder="value enter">
                                      <div class="text-danger error-message mt-1" id="max-discount-error"></div>
                                 </div>
                              </div>
                            </div>
                        </div>
                        <div class="card-footer border-top">
                            <button type="button" id="add-offer-btn" class="btn btn-primary">Create Offer</button>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <!-- End Container Fluid -->

            <!-- ========== Footer Start ========== -->
            <%- include('../partials/admin/footer') %>
            <!-- ========== Footer End ========== -->

        </div>
        <!-- ==================================================== -->
        <!-- End Page Content -->
        <!-- ==================================================== -->

    </div>
    <!-- END Wrapper -->

    <!-- Vendor Javascript (Require in all Page) -->
    <script src="assets/js/vendor.js"></script>

    <!-- App Javascript (Require in all Page) -->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/pages/coupons-add.js"></script>

    <script>

      // function for add offer fetch
     async function createOffer(event) {
          event.preventDefault();
          try {
               const formData = validateForm();
               if(!formData) {
               return
               }
               const response = await fetch('createOffer', {
                    method: 'POST',
                    headers: {
                    'content-type': 'application/json'
                    },
                    body: JSON.stringify(formData)
               });
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    Swal.fire({
                         position: "top-end",
                         icon: 'success',
                         title: 'Offer created Successfully',
                         showConfirmButton: false,
                         timer: 1500,
                         customClass: {
                              popup: 'custom-swal-popup'
                         }
                    })
                    .then(() => {
                         window.location.href= '/admin/offers';
                    })
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text:error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('add-offer-btn').addEventListener('click', createOffer);

    // function for validate form 
    function validateForm() {
      let isValid = true;
      clearErrorMsg();
      const name = document.getElementById('offer-name').value;
      const description = document.getElementById('offer-description').value;
      let offerType = document.getElementsByName('offer-type');
      let offerStatus = document.getElementsByName('offer-status')
      let offerApplied;
      let discountType = document.getElementsByName('discount-type');
      const discountVal = document.getElementById('discount-value').value;
      const maxDiscount = document.getElementById('max-discount').value;
      const startDate = document.getElementById('start-date').value;
      const endDate = document.getElementById('end-date').value;
      if(name.length<2) {
        isValid = false;
        showError('name-error', 'Enter a valid name.');
      } 
      if(description.length<2) {
        isValid = false;
        showError('description-error', 'Enter a valid description.');
      }
      for(let i = 0; i<offerType.length; i++) {
        if(offerType[i].checked) {
          offerType = offerType[i].value;
        }
      }
      if(offerType === 'product') {
        const appliedProductsElem = document.getElementById('product-options').selectedOptions;
        if(appliedProductsElem.length>0) {
          offerApplied = Array.from(appliedProductsElem).map(({value}) => value);
        } else {
          isValid = false;
          showError('pro-choose-error', 'Choose atleast one products.');
        }
      } else if(offerType === 'category') {
        const appliedCategoreisElem = document.getElementById('category-options').selectedOptions;
        if(appliedCategoreisElem.length>0) {
          offerApplied = Array.from(appliedCategoreisElem).map(({value}) => value);
        } else {
          isValid = false;
          showError('cat-choose-error', 'Choose atleast one category.');
        }

      }
      if(discountType[0].checked) {
        discountType = discountType[0].value;
      } else {
        discountType = discountType[1].value;
      }
      if(offerStatus[0].checked) {
        offerStatus = offerStatus[0].value;
      } else {
        offerStatus = offerStatus[1].value;
      }
      if(discountVal < 1) {
        isValid = false;
        showError('discount-error', 'Please give non negative disount value');
      }
      if(startDate === '') {
        isValid = false;
        showError('srtdate-error', 'start date is required');
      }
      if(endDate === '') {
        isValid = false;
        showError('enddate-error', 'end date is required');
      }
      if(startDate !== '' && endDate !== '') {
               const start = new Date(startDate);
               const end = new Date(endDate);
               const date = new Date()
               date.setHours(23,59,59,999);
               if(start > end) {
                    isValid = false
                    showError('srtdate-error', 'Start date cannot be after end date.');
                    showError('enddate-error', 'End date cannot be before start date');
               } else if(new Date().setHours(0, 0, 0, 0) > start) {
                    isValid = false;
                    showError('srtdate-error', 'Start date is not valid');
               } else if(end < new Date().setHours(23, 59, 59, 999)) {
                    isValid = false;
                    showError('enddate-error', 'End date is not valid');
               } else if(start > new Date() && offerStatus === 'active') {
                    isValid = false;
                    showError('srtdate-error', 'Offer cannot be active if the start date is in the future.')
               }
          }
      if(discountType === 'percentage') {
        if(maxDiscount < 1) {
            isValid = false;
            showError('max-discount-error', 'Please give non negative maximum discount value');
        }
      }
      
      if(isValid) {
        return {
          name,
          description,
          offerType,
          offerStatus,
          discountType,
          discountVal, 
          maxDiscount,
          startDate,
          endDate,
          offerApplied
        }
      } else {
        return isValid;
      }

    } 

    // function for offer type dom control
    function orderType(id1, id2) {
      document.getElementById(id2).style.display = 'none';
      document.getElementById(id1).style.display = 'block';
    }
    // setting event to event type radio
    document.getElementById('product-offer').addEventListener('change', (event) => {
      event.preventDefault();
      orderType('offer-pro-cont', 'offer-cat-cont');
    });
    document.getElementById('category-offer').addEventListener('change', (event) => {
      event.preventDefault();
      orderType('offer-cat-cont', 'offer-pro-cont');
    });
 
    // function for clearing error messages
     function clearErrorMsg() {
          const errorMessage = document.querySelectorAll('.error-message');
          errorMessage.forEach(element => {
               element.style.display = 'none';
               element.textContent = '';
          })
     }

     // function for showing error message
     function showError(id, message) {
          const element = document.getElementById(id);
          element.style.display = 'block';
          element.textContent = message;
     }

        // function for max discount in coupon types
      function clearMaxDis(event) {
        event.preventDefault();
        document.getElementById('max-discount-cont').style.display = 'none';
        document.getElementById('max-discount').value = '';
     }
     function displayMaxDis(event) {
          event.preventDefault();
          document.getElementById('max-discount-cont').style.display = 'block';
     }
     document.getElementById('percentage-dis').addEventListener('change', displayMaxDis);
     document.getElementById('fixed-dis').addEventListener('change', clearMaxDis);

     async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);

    </script>

</body>


<!-- Mirrored from techzaa.in/larkon/admin/coupons-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:31 GMT -->
</html>