<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/product-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->

<head>
     <!-- Title Meta -->
     <meta charset="utf-8" />
     <title>Create Product | Larkon - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="A fully responsive premium admin dashboard template" />
     <meta name="author" content="Techzaa" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="images/favicon.ico">

     <!-- Vendor css (Require in all Page) -->
     <link href="css/vendor.min.css" rel="stylesheet" type="text/css" />

     <!-- Icons css (Require in all Page) -->
     <link href="css/icons.min.css" rel="stylesheet" type="text/css" />

     <!-- App css (Require in all Page) -->
     <link href="css/app.min.css" rel="stylesheet" type="text/css" />

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css">

     <!-- Theme Config js (Require in all Page) -->
     <script src="js/config.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <style>
          .choices__list--dropdown {
               max-height: 300px; 
               transform-origin: top;
          }
          .error-message {
               display: none;
          }

          .short-swal-popup {
               width: 300px; 
               padding: 0;
               font-size: 15px;
          }

          .short-swal-content {
               font-size: 15px;
               margin: 0; 
               padding: 0; 
          }

          .swal2-actions {
               gap: 5px; 
          }

          .swal2-icon.swal2-error {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 30px; 
               height: 30px;
               margin: 0; 
               font-size: 15px;
               line-height: 30px; 
          }

          .swal2-icon.swal2-error::before {
               content: '✖'; 
               color: red;
          }

          .swal2-icon.swal2-success {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 30px !important; /* Smaller icon width */
               height: 30px !important; /* Smaller icon height */
               margin: 0 !important; /* Remove default margins */
               font-size: 16px !important; /* Adjust font size for symbol */
               line-height: 30px; /* Vertically align the icon */
          }

          .swal2-icon.swal2-success::before {
               content: '✔'; /* Use a simple checkmark for the success icon */
               color: green;
          }

          .compact-swal-popup {
               width: auto !important; 
               height: auto !important; 
               padding: 20px 20px !important;
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 8px;
          }
          .swal2-title {
               font-size: 18px !important;
               margin: 0 !important;
               line-height: 1.5 !important;
          }


          .swal2-html-container {
               margin: 0 !important; 
          }

          .swal2-timer-progress-bar {
               height: 2px !important;
          }
     </style>
</head>

<body>

     <!-- START Wrapper -->
     <div class="wrapper">

          <!-- ========== Topbar Start ========== -->
          <%- include('../partials/admin/header') %>
          <!-- Right Sidebar (Theme Settings) -->
          <%- include('../partials/admin/theme') %>
          <!-- ========== Topbar End ========== -->

          <!-- ========== App Menu Start ========== -->
          <%- include('../partials/admin/nav') %>
          <!-- ========== App Menu End ========== -->

          <!-- ==================================================== -->
          <!-- Start right Content here -->
          <!-- ==================================================== -->
          <div class="page-content">

               <!-- Start Container Fluid -->
               <div class="container-xxl">

                    <div class="row">
                         <div class="col-xl col-lg ">
                              <div class="card">
                                   <div class="card-header d-flex justify-content-between align-items-center gap-1">
                                        <h4 class="card-title flex-grow-1">Product Information</h4>

                                        <a href="/admin/products" class="btn btn-sm btn-primary">
                                             All Products
                                        </a>
                                   </div>
                                   <form id="product-form">
                                        <div class="card-body">
                                             <div class="row">
                                                  <div class="col-lg-6">
                                                       <div class="mb-0">
                                                            <label for="product-name" class="form-label">Product
                                                                 Name</label>
                                                            <input type="text" id="product-name" name="productName" class="form-control"
                                                                 placeholder="Items Name" value="<%= product.productName %>">
                                                            <p id="name-error" class="error-message text-danger mt-3">aldja;addfs</p>
                                                       </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                       <label for="product-categories" class="form-label">Product
                                                            Categories</label>
                                                       <select class="form-control" id="product-categories" data-choices
                                                            data-choices-groups data-placeholder="Select Categories"
                                                            name="category">
                                                            <% for(let i=0; i<category.length; i++) { %>
                                                                 <% if(category[i].name === product.category.name) { %>
                                                                      <option selected value="<%= category[i].name %>">
                                                                           <%= category[i].name %>
                                                                      </option>
                                                                 <% } else { %>
                                                                      <option value="<%= category[i].name %>">
                                                                           <%= category[i].name %>
                                                                      </option>
                                                                 <% } %>
                                                            <% } %>
                                                       </select>
                                                       <p id="category-error" class="error-message text-danger mt-1">asafdsafd</p>
                                                  </div>
                                             </div>
                                             <div class="row">
                                                  <div class="col-lg-12">
                                                       <div class="mb-3">
                                                            <label for="description"
                                                                 class="form-label">Description</label>
                                                            <textarea class="form-control bg-light-subtle"
                                                                 id="description" name="description" rows="7"
                                                                 placeholder="Short description about the product"><%= product.description %></textarea>  
                                                            <p id="description-error" class="error-message text-danger mt-2"></p>   
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="row">
                                                  <div class="col-lg-4">
                                                       <div class="mb-3">
                                                            <label for="product-id" class="form-label">Regular
                                                                 Price</label>
                                                            <input type="number" id="regular-price" name="regularPrice" class="form-control"
                                                                 placeholder="$" value="<%= product.regularPrice %>">
                                                             <p id="price-error" class="error-message text-danger mt-2"></p>    
                                                       </div>
                                                  </div>
                                                  <div class="col-lg-4">
                                                       <div class="mb-3">
                                                            <label for="product-id" class="form-label">Sale
                                                                 Price</label>
                                                            <input type="number" id="sale-price" name="salePrice" class="form-control"
                                                                 placeholder="$" value="<%= product.salePrice %>">
                                                            <p id="salePrice-error" class="error-message text-danger mt-2"></p>     
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </form>
                              </div>
                              <div class="p-3 bg-light mb-3 rounded">
                                   <div class="row justify-content-end g-2">
                                        <div class="col-lg-2">
                                             <a href="/admin/editProduct?id=<%= product._id %>" class="btn btn-outline-secondary w-100">Reset</a>
                                        </div>
                                        <div class="col-lg-2">
                                             <button type="button" id="save-btn" class="btn btn-primary w-100">Save</button>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- End Container Fluid -->

               <!-- ========== Footer Start ========== -->
               <%- include('../partials/admin/footer') %>
               <!-- ========== Footer End ========== -->

          </div>
          <!-- ==================================================== -->
          <!-- End Page Content -->
          <!-- ==================================================== -->


     </div>
     <!-- END Wrapper -->

     <!-- Vendor Javascript (Require in all Page) -->
     <script src="js/vendor.js"></script>

     <!-- App Javascript (Require in all Page) -->
     <script src="js/app.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
     <script>

          function validateForm(){
               clearErrorMessage()
               const name = document.getElementById('product-name').value;
               const description = document.getElementById('description').value;
               const category = document.getElementById('product-categories').value;
               const price = document.getElementById('regular-price').value;
               const salePrice = document.getElementById('sale-price').value;

               let isValid = true;
               if(name.trim() === "") {
                    isValid = false;
                    showError('name-error', 'Please enter a product name.');
               } else if(!/^[a-zA-Z\s]+$/.test(name.trim())) {
                    isValid = false;
                    showError('name-error', 'Product name should contain only alphabetic characters.');
               }
               if(description.trim() === "") {
                    isValid = false;
                    showError('description-error', 'Please enter a product description.');
               } else if(!/^[a-zA-Z\s]+$/.test(description.trim())) {
                    isValid = false;
                    showError('description-error', 'Product description should contain only alphabetic characters.');
               }
               if(category.trim() === "") {
                    isValid = false;
                    showError('category-error', 'please select a category.');
               }
               if(!/^\d+(\.\d{1,2})?$/.test(price) || parseFloat(price) < 0) {
                    isValid = false;
                    showError('price-error', 'Please enter a valid non-negative price.');
               } else if(parseFloat(price) <= parseFloat(salePrice)) {
                    isValid = false;
                    showError('price-error', 'Regular price must be greater than sale price.');
               }
               if(!/^\d+(\.\d{1,2})?$/.test(salePrice) || parseFloat(salePrice) < 0) {
                    isValid = false;
                    showError('salePrice-error', 'Please enter a valid non-negative price.');
               }
        
               if(isValid) {
                    return {
                         name, description, category, price, salePrice
                    }
               } else {
                    return false;
               }
          }

          function clearErrorMessage() {
               document.querySelectorAll('.error-message').forEach(element => element.style.display = 'none');
          }
          function showError(elementId, message) {
               document.getElementById(elementId).style.display = 'block';
               document.getElementById(elementId).textContent = message;
          }

          async function validateAndSubmit(event) {
               event.preventDefault();
               try {
                    const formData = validateForm();
                    if(!formData) {
                         return;
                    }
                    const response = await fetch('/admin/editProduct/<%= product._id %>', {
                         method:'PUT',
                         headers: {
                              'content-type': 'application/json'
                         },
                         body: JSON.stringify(formData)
                    });
                    const data = await response.json();
                    if (!response.ok) {
                         throw new Error(data.message);
                    }
                    if(data.success) {
                         Swal.fire({
                              position: "top-end",
                              html: `
                                   <div style="display: flex; align-items: center; gap: 10px;">
                                        <div>
                                             <div class="swal2-icon swal2-success" style="width: 30px; height: 30px; margin: 0; font-size: 16px;"></div>
                                        </div>
                                        <div style="font-size: 20px; text-align: left;">Edited successfully!</div>
                                   </div>
                              `,
                              showConfirmButton: false,
                              timer: 1500,
                              customClass: {
                                   popup: 'compact-swal-popup',
                              }
                         })
                         .then(() => {
                              window.location.href = '/admin/products';
                         })
                    } 
               } catch (error) {
                    Swal.fire({
                         position: "top-end",
                         html: `
                              <div style="display: flex; align-items: center; gap: 10px;">
                                   <div>
                                        <div class="swal2-icon swal2-error" style="width: 30px; height: 30px; margin: 0; font-size: 16px;"></div>
                                   </div>
                                   <div style="font-size: 20px; text-align: left;">Oops... ${error.message}</div>
                              </div>
                         `,
                         showConfirmButton: false,
                         timer: 1500,
                         customClass: {
                              popup: 'compact-swal-popup',
                         }
                    });
               }
          }
          document.getElementById('save-btn').addEventListener('click', validateAndSubmit);

     async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);

</script>
     
</body>


<!-- Mirrored from techzaa.in/larkon/admin/product-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->

</html>