<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/product-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->

<head>
     <!-- Title Meta -->
     <meta charset="utf-8" />
     <title>Create Product | Larkon - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="A fully responsive premium admin dashboard template" />
     <meta name="author" content="Techzaa" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="adminAssets/images/favicon.ico">

     <!-- Vendor css (Require in all Page) -->
     <link href="adminAssets/css/vendor.min.css" rel="stylesheet" type="text/css" />

     <!-- Icons css (Require in all Page) -->
     <link href="adminAssets/css/icons.min.css" rel="stylesheet" type="text/css" />

     <!-- App css (Require in all Page) -->
     <link href="adminAssets/css/app.min.css" rel="stylesheet" type="text/css" />

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css">

     <!-- Theme Config js (Require in all Page) -->
     <script src="adminAssets/js/config.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <style>
          .choices__list--dropdown {
               max-height: 300px; 
               transform-origin: top;
          }
          .error-message {
               display: none;
          }
          .select-img {
               background: transparent;
               padding: 10px 15px;
               border-radius: 10px;
               font-weight: bold;
               color: gray;
               text-transform: uppercase;
               cursor: pointer;
               font-family: Avenir, Helvetica, Arial, sans-serif;
               font-size: 11px;
               transition: box-shadow ease 0.25s;
               border: 1px solid gray;

          }
          .select-img:hover {
               background-color: #5D7186;
               border: none;
               color: white;
          }
          .productImages {
               width: 0;
               height: 0;
               margin: 0;
               padding: 0;
          }


          .short-swal-popup {
               width: 300px; 
               padding: 0;
               font-size: 15px;
          }

          .short-swal-content {
               font-size: 15px;
               margin: 0; 
               padding: 0; 
          }

          .swal2-actions {
               gap: 5px; 
          }

          .swal2-icon.swal2-error {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 30px; 
               height: 30px;
               margin: 0; 
               font-size: 15px;
               line-height: 30px; 
          }

          .swal2-icon.swal2-error::before {
               content: '✖'; 
               color: red;
          }

          .swal2-icon.swal2-success {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 30px !important; /* Smaller icon width */
               height: 30px !important; /* Smaller icon height */
               margin: 0 !important; /* Remove default margins */
               font-size: 16px !important; /* Adjust font size for symbol */
               line-height: 30px; /* Vertically align the icon */
          }

          .swal2-icon.swal2-success::before {
               content: '✔'; /* Use a simple checkmark for the success icon */
               color: green;
          }

          .compact-swal-popup {
               width: auto !important; 
               height: auto !important; 
               padding: 20px 20px !important;
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 8px;
          }
          .swal2-title {
               font-size: 18px !important;
               margin: 0 !important;
               line-height: 1.5 !important;
          }


          .swal2-html-container {
               margin: 0 !important; 
          }

          .swal2-timer-progress-bar {
               height: 2px !important;
          }
     </style>
</head>

<body>

     <!-- START Wrapper -->
     <div class="wrapper">

          <!-- ========== Topbar Start ========== -->
          <%- include('../partials/admin/header') %>
          <!-- Right Sidebar (Theme Settings) -->
          <%- include('../partials/admin/theme') %>
          <!-- ========== Topbar End ========== -->

          <!-- ========== App Menu Start ========== -->
          <%- include('../partials/admin/nav') %>
          <!-- ========== App Menu End ========== -->

          <!-- ==================================================== -->
          <!-- Start right Content here -->
          <!-- ==================================================== -->
          <div class="page-content">

               <!-- Start Container Fluid -->
               <div class="container-xxl">

                    <div class="row">
                         <div class="col-xl col-lg ">
                              <div class="card">
                                   <div class="card-header d-flex justify-content-between align-items-center gap-1">
                                        <h4 class="card-title flex-grow-1">Product Information</h4>

                                        <a href="/admin/products" class="btn btn-sm btn-primary">
                                             All Products
                                        </a>
                                   </div>
                                   <form id="product-form" enctype="multipart/form-data">
                                        <div class="card-body">
                                             <div class="row">
                                                  <div class="col-lg-6">
                                                       <div class="mb-0">
                                                            <label for="product-name" class="form-label">Product
                                                                 Name</label>
                                                            <input type="text" id="product-name" name="productName" class="form-control"
                                                                 placeholder="Items Name" value="<%= product.productName %>">
                                                            <p id="name-error" class="error-message text-danger mt-3">aldja;addfs</p>
                                                       </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                       <label for="product-categories" class="form-label">Product
                                                            Categories</label>
                                                       <select class="form-control" id="product-categories" data-choices
                                                            data-choices-groups data-placeholder="Select Categories"
                                                            name="category">
                                                            <% for(let i=0; i<category.length; i++) { %>
                                                                 <% if(category[i].name === product.category.name) { %>
                                                                      <option selected value="<%= category[i].name %>">
                                                                           <%= category[i].name %>
                                                                      </option>
                                                                 <% } else { %>
                                                                      <option value="<%= category[i].name %>">
                                                                           <%= category[i].name %>
                                                                      </option>
                                                                 <% } %>
                                                            <% } %>
                                                       </select>
                                                       <p id="category-error" class="error-message text-danger mt-1">asafdsafd</p>
                                                  </div>
                                             </div>
                                             <div class="row mb-4">
                                                  <div class="col-lg-12">
                                                       <div class="mt-3">
                                                            <div
                                                                 class="d-flex justify-content-between align-items-center">
                                                                 <h5 class="text-dark fw-medium">Variants :</h5>
                                                                 <button class="btn btn-primary" type="button"
                                                                      id="variant-add">Add More</button>
                                                            </div>

                                                  <!-- add more div and existing div -->
                                                  <div id="variant-add-cont">
                                                       <!-- error only div -->
                                                       <p id="variant-error" class="error-message text-danger mt-0">asfdsa</p>
                                                       <!-- error only div -->
                                                       <!-- color and size ------- image div -->
                                                       <% for(let i = 0;i<product.variant.length; i++) { %>
                                                       <div class="mb-4">
                                                            <h4 class="text-dark fw-medium"><%= i+1 %> :</h4>
                                                            <div id="variants-cont">
                                                                 <div class="form-group row mt-2">
                                                                      <label class="form-label col-sm-1 col-form-label"
                                                                           for="color<%= i %>">Color picker:</label>
                                                                      <div class="col-sm-4">
                                                                           <input type="color" name="productColor"
                                                                                class="form-control form-control-color productColor"
                                                                                id="color<%= i %>" value="<%= product.variant[i].color %>">
                                                                      </div>
                                                                 </div>
                                                                 <div class="d-flex flex-wrap gap-1">
                                                                      <div class="form-group row mt-2">
                                                                           <label
                                                                                class="col-sm-3 col-form-label form-label"
                                                                                for="XS<%= i %>">XS:</label>
                                                                           <div class="col-sm-5">
                                                                                <input type="number"
                                                                                     class="form-control productSizeXS"
                                                                                     id="XS<%= i %>" value="<%= product.variant[i].XS %>">
                                                                                <input type="hidden" id="hidden-XS<%= i %>" name="sizeXS">
                                                                           </div>
                                                                      </div>
                                                                      <div class="form-group row mt-2">
                                                                           <label
                                                                                class="col-sm-3 col-form-label form-label"
                                                                                for="S<%= i %>">S:</label>
                                                                           <div class="col-sm-5">
                                                                                <input type="number"
                                                                                     class="form-control productSizeS"
                                                                                     id="S<%= i %>" value="<%= product.variant[i].S %>">
                                                                                <input type="hidden" id="hidden-S<%= i %>" name="sizeS">     
                                                                           </div>
                                                                      </div>
                                                                      <div class="form-group row mt-2">
                                                                           <label
                                                                                class="col-sm-3 col-form-label form-label"
                                                                                for="M<%= i %>">M:</label>
                                                                           <div class="col-sm-5">
                                                                                <input type="number"
                                                                                     class="form-control productSizeM"
                                                                                     id="M<%= i %>" value="<%= product.variant[i].M %>">
                                                                                <input type="hidden" id="hidden-M<%= i %>" name="sizeM">
                                                                           </div>
                                                                      </div>
                                                                      <div class="form-group row mt-2">
                                                                           <label
                                                                                class="col-sm-3 col-form-label form-label"
                                                                                for="L<%= i %>">L:</label>
                                                                           <div class="col-sm-5">
                                                                                <input type="number"
                                                                                     class="form-control productSizeL"
                                                                                     id="L<%= i %>" value="<%= product.variant[i].L %>">
                                                                                <input type="hidden" id="hidden-L<%= i %>" name="sizeL">
                                                                           </div>
                                                                      </div>
                                                                      <div class="form-group row mt-2">
                                                                           <label
                                                                                class="col-sm-3 col-form-label form-label"
                                                                                for="XL<%= i %>">XL:</label>
                                                                           <div class="col-sm-5">
                                                                                <input type="number"
                                                                                     class="form-control productSizeXL"
                                                                                     id="XL<%= i %>" value="<%= product.variant[i].XL %>">
                                                                                <input type="hidden" id="hidden-XL<%= i %>" name="sizeXL">
                                                                           </div>
                                                                      </div>
                                                                      <div class="form-group row mt-2">
                                                                           <label
                                                                                class="col-sm-3 col-form-label form-label"
                                                                                for="XXL<%= i %>">XXL:</label>
                                                                           <div class="col-sm-5">
                                                                                <input type="number"
                                                                                     class="form-control productSizeXXL"
                                                                                     id="XXL<%= i %>" value="<%= product.variant[i].XXL %>">
                                                                                <input type="hidden" id="hidden-XXL<%= i %>" name="sizeXXL">
                                                                           </div>
                                                                      </div>
                                                                      <div class="form-group row mt-2">
                                                                           <label
                                                                                class="col-sm-3 col-form-label form-label"
                                                                                for="3XL<%= i %>">3XL:</label>
                                                                           <div class="col-sm-5">
                                                                                <input type="number"
                                                                                     class="form-control productSize3XL"
                                                                                     id="3XL<%= i %>" value="<%= product.variant[i].XXL %>">
                                                                                <input type="hidden" id="hidden-3XL<%= i %>" name="size3XL">
                                                                           </div>
                                                                      </div>
                                                                 </div>
                                                            <!-- color and size,error combine div -->
                                                            </div>

                                                            <!-- all image div -->
                                                            <div class="row mt-3">
                                                                 <div class="col-lg-4">
                                                                      <div class="mb-3">
                                                                           <label for="image1-<%= i %>" id="file1-upload<%= i %>"
                                                                                class="form-label select-img">Select an Image</label>
                                                                           <input type="file" id="image1-<%= i %>" name="images"
                                                                                class="form-control productImages"
                                                                                accept="image/png, image/jpeg, image/jpg"
                                                                                onclick="clearImg(event, 1, '<%= i %>')"
                                                                                onchange="viewImage(event, 1, '<%= i %>')">
                                                                           <input type="hidden" name="existImage" id="exist-1image<%= i %>" value="<%= product.variant[i].image[0] %>">
                                                                           <div>
                                                                                <img id="img1View<%= i %>" style="max-height: 500px;">
                                                                           </div>
                                                                      </div>
                                                                      <button type="button" id="crop1-save<%= i %>"
                                                                           class="btn btn-outline-secondary mb-2">save</button>
                                                                      <div id="preview1-cont<%= i %>" class="image-cropper img-thumbnail"
                                                                           style="width: 100%; height: 250px; overflow: hidden;">
                                                                           <img src="<%= product.variant[i].image[0] %>" id="file1-preview<%= i %>" style="max-width: 100%; height: auto;">
                                                                      </div>
                                                                 </div>
                                                                 <div class="col-lg-4">
                                                                      <div class="mb-3">
                                                                           <label for="image2-<%= i %>" id="file2-upload<%= i %>"
                                                                                class="form-label select-img">Select an Image</label>
                                                                           <input type="file" id="image2-<%= i %>" name="images"
                                                                                class="form-control productImages"
                                                                                accept="image/png, image/jpeg, image/jpg"
                                                                                onclick="clearImg(event, 2, '<%= i %>')"
                                                                                onchange="viewImage(event, 2, '<%= i %>')">
                                                                           <input type="hidden" name="existImage" id="exist-2image<%= i %>" value="<%= product.variant[i].image[1] %>">
                                                                           <div>
                                                                                <img id="img2View<%= i %>" style="max-height: 500px;">
                                                                           </div>
                                                                      </div>
                                                                      <button type="button" id="crop2-save<%= i %>"
                                                                           class="btn btn-outline-secondary mb-2">save</button>
                                                                      <div id="preview2-cont<%= i %>" class="image-cropper img-thumbnail"
                                                                           style="width: 100%; height: 250px; overflow: hidden;">
                                                                           <img src="<%= product.variant[i].image[1] %>" id="file2-preview<%= i %>" style="max-width: 100%; height: auto;">
                                                                      </div>
                                                                 </div>
                                                                 <div class="col-lg-4">
                                                                      <div class="mb-3">
                                                                           <label for="image3-<%= i %>" id="file3-upload<%= i %>"
                                                                                class="form-label select-img">Select an Image</label>
                                                                           <input type="file" id="image3-<%= i %>" name="images"
                                                                                class="form-control productImages"
                                                                                accept="image/png, image/jpeg, image/jpg"
                                                                                onclick="clearImg(event, 3, '<%= i %>')"
                                                                                onchange="viewImage(event, 3, '<%= i %>')">
                                                                           <input type="hidden" name="existImage" id="exist-3image<%= i %>" value="<%= product.variant[i].image[2] %>">
                                                                      <div>
                                                                           <img id="img3View<%= i %>" style="max-height: 500px;"> 
                                                                      </div>
                                                                      </div>
                                                                      <button type="button" id="crop3-save<%= i %>"
                                                                           class="btn btn-outline-secondary mb-2">save</button>
                                                                      <div id="preview3-cont<%= i %>" class="image-cropper img-thumbnail"
                                                                           style="width: 100%; height: 250px; overflow: hidden;">
                                                                           <img src="<%= product.variant[i].image[2] %>" id="file3-preview<%= i %>" style="max-width: 100%; height: auto;">
                                                                      </div>
                                                                 </div>
                                                            <!-- all image div -->     
                                                            </div>

                                                       <!-- color and size ------- image div -->
                                                       </div>
                                                       <% index++ %>
                                                       <% } %>
                                                  <!-- add more div and existing div -->    
                                                  </div>


                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="row">
                                                  <div class="col-lg-12">
                                                       <div class="mb-3">
                                                            <label for="description"
                                                                 class="form-label">Description</label>
                                                            <textarea class="form-control bg-light-subtle"
                                                                 id="description" name="description" rows="7"
                                                                 placeholder="Short description about the product"><%= product.description %></textarea>  
                                                            <p id="description-error" class="error-message text-danger mt-2">adfasfdsafsaf</p>   
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="row">
                                                  <div class="col-lg-4">
                                                       <div class="mb-3">
                                                            <label for="product-id" class="form-label">Regular
                                                                 Price</label>
                                                            <input type="number" id="regular-price" name="regularPrice" class="form-control"
                                                                 placeholder="$" value="<%= product.regularPrice %>">
                                                             <p id="price-error" class="error-message text-danger mt-2">adfsafsfd</p>    
                                                       </div>
                                                  </div>
                                                  <div class="col-lg-4">
                                                       <div class="mb-3">
                                                            <label for="product-id" class="form-label">Sale
                                                                 Price</label>
                                                            <input type="number" id="sale-price" name="salePrice" class="form-control"
                                                                 placeholder="$" value="<%= product.salePrice %>">
                                                            <p id="salePrice-error" class="error-message text-danger mt-2">asdfsafa</p>     
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </form>
                              </div>
                              <div class="p-3 bg-light mb-3 rounded">
                                   <div class="row justify-content-end g-2">
                                        <div class="col-lg-2">
                                             <a href="/admin/editProduct?id=<%= product._id %>" class="btn btn-outline-secondary w-100">Reset</a>
                                        </div>
                                        <div class="col-lg-2">
                                             <button type="button" id="save-btn" class="btn btn-primary w-100">Save</button>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- End Container Fluid -->

               <!-- ========== Footer Start ========== -->
               <%- include('../partials/admin/footer') %>
               <!-- ========== Footer End ========== -->

          </div>
          <!-- ==================================================== -->
          <!-- End Page Content -->
          <!-- ==================================================== -->


     </div>
     <!-- END Wrapper -->

     <!-- Vendor Javascript (Require in all Page) -->
     <script src="adminAssets/js/vendor.js"></script>

     <!-- App Javascript (Require in all Page) -->
     <script src="adminAssets/js/app.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
     <script>

          function validateForm(){
               clearErrorMessage()
               const name = document.getElementById('product-name').value;
               const description = document.getElementById('description').value;
               const category = document.getElementById('product-categories').value;
               const price = document.getElementById('regular-price').value;
               const salePrice = document.getElementById('sale-price').value;
               const images = document.getElementsByName('images');

               let isValid = true;
               if(name.trim() === "") {
                    isValid = false;
                    showError('name-error', 'Please enter a product name.');
               } else if(!/^[a-zA-Z\s]+$/.test(name.trim())) {
                    isValid = false;
                    showError('name-error', 'Product name should contain only alphabetic characters.');
               }
               if(description.trim() === "") {
                    isValid = false;
                    showError('description-error', 'Please enter a product description.');
               } else if(!/^[a-zA-Z\s]+$/.test(description.trim())) {
                    isValid = false;
                    showError('description-error', 'Product description should contain only alphabetic characters.');
               }
               if(category.trim() === "") {
                    isValid = false;
                    showError('category-error', 'please select a category.');
               }
               if(!/^\d+(\.\d{1,2})?$/.test(price) || parseFloat(price) < 0) {
                    isValid = false;
                    showError('price-error', 'Please enter a valid non-negative price.');
               } else if(parseFloat(price) <= parseFloat(salePrice)) {
                    isValid = false;
                    showError('price-error', 'Regular price must be greater than sale price.');
               }
               if(!/^\d+(\.\d{1,2})?$/.test(salePrice) || parseFloat(salePrice) < 0) {
                    isValid = false;
                    showError('salePrice-error', 'Please enter a valid non-negative price.');
               }
               if (!variantValidation()) {
                    isValid = false;
               }
            

               if(isValid){
                    variantCoding();
                    inputImageFile();
               }
        
               return isValid;
          }

          function clearErrorMessage() {
               document.querySelectorAll('.error-message').forEach(element => element.style.display = 'none');
          }
          function showError(elementId, message) {

               document.getElementById(elementId).style.display = 'block';
               document.getElementById(elementId).textContent = message;
          }
          
          let noOfvariant = "<%= index %>";
          noOfvariant = Number(noOfvariant);
          const noOfImg = (noOfvariant*3);

          
          function variantValidation() {

               const color = document.querySelectorAll('.productColor');
               const sizeXS = document.querySelectorAll('.productSizeXS');
               const sizeS = document.querySelectorAll('.productSizeS');
               const sizeM = document.querySelectorAll('.productSizeM');
               const sizeL = document.querySelectorAll('.productSizeL');
               const sizeXL = document.querySelectorAll('.productSizeXL');
               const sizeXXL = document.querySelectorAll('.productSizeXXL');
               const size3XL = document.querySelectorAll('.productSize3XL');
               const images = document.getElementsByName('images');
               let noOfvariant = "<%= index %>";
               noOfvariant = Number(noOfvariant);
               const noOfImg = (noOfvariant*3);

               let checkClr = [];
               let isChecked = true
               const digitReg = /^\d+$/;
               for(let i = 0; i<color.length; i++) {
                    if(!color[i].value) {
                         isChecked = false;
                         return;
                    } else if(checkClr.includes(color[i].value)) {
                         showError('variant-error', 'Cannot apply same color for different item.');
                         isChecked = false;
                         return;
                    } else {
                         checkClr.push(color[i].value);
                    }
                    if(!digitReg.test(sizeXS[i].value) || sizeXS[i].value<0 || !/^\d+$/.test(sizeS[i].value) || sizeS[i].value<0 || !/^\d+$/.test(sizeM[i].value) || sizeM[i].value<0 || !/^\d+$/.test(sizeL[i].value) || sizeL[i].value<0 || !/^\d+$/.test(sizeXL[i].value) || sizeXL[i].value<0 || !/^\d+$/.test(sizeXXL[i].value) || sizeXXL[i].value<0 || !/^\d+$/.test(size3XL[i].value) || size3XL[i].value<0) {
                         showError('variant-error', 'All size quantity required and it should be non negative.');
                         isChecked = false;
                         return;
                    }
               }  
               for(let i = 0; i<noOfImg; i++) {
                    if(images[i].files.length !== 0) {
                         if(images[i].files[0].size>(2*1024*1024)) {
                              isValid = false;
                              showError('variant-error', `image ${i+1} file size too large, Please choose an image smaller than 2 MB.`);
                              return;
                         }
                    }
               }
               for(let i = noOfImg; i< images.length; i++) {
                    if(images[i].files.length === 0) {
                         showError('variant-error', 'All images required.');
                         isChecked = false;
                         return;
                    } else if(images[i].files[0].size>(2*1024*1024)) {
                         isValid = false;
                         showError('variant-error', `image ${i+1} file size too large, Please choose an image smaller than 2 MB.`);
                         return;
                    }
               }

               return isChecked
          }
          function clearImg(event, index1, index2) {
               const imgView = document.getElementById(`img${index1}View${index2}`);
               if(imgView.cropper) {
                    imgView.cropper.destroy();

                    imgView.parentNode.innerHTML = `<img id="img${index1}View${index2}" src="" style="max-height: 500px;"/>`;
                    document.getElementById(`file${index1}-preview${index2}`).src = '';
               }
          } 

          function viewImage(event, index1, index2) {
               if(!event.target.files[0]) {
                    return;
               }
               if(!validateImage(event.target.files[0])) {
                    return;
               }
               document.getElementById(`img${index1}View${index2}`).src = URL.createObjectURL(event.target.files[0]);
               imgHandler(event, index1, index2);
          }

          // function viewImage2(event, index) {
          //      document.getElementById('img2View'+index).src = URL.createObjectURL(event.target.files[0]);
          // }

          // function viewImage3(event, index) {
          //      document.getElementById('img3View'+index).src = URL.createObjectURL(event.target.files[0]);
          // }

          
          function imgHandler(event, index1, index2) {
               let input = event.target;
               let reader = new FileReader();
               reader.onload = function () {
                    let dataURL = reader.result;
                    let image = document.getElementById(`img${index1}View${index2}`);
                    image.src = dataURL;

                    // Create the cropper instance
                    let cropper = new Cropper(image, {
                         aspectRatio: 1,
                         viewMode: 1,
                         guides: true,
                         background: false,
                         autoCropArea: 1,
                         zoomable: true
                    });

                    // Show the cropper container
                    // let cropperContainer = document.querySelector(`#preview${index1}-cont${index2}`);

                    // Attach event listener to save button
                    let saveButton = document.querySelector(`#crop${index1}-save${index2}`);
                    if(saveButton._listener) {
                         saveButton.removeEventListener('click', saveButton._listener);
                    }
                    saveButton.addEventListener('click', async function saveCropped() {
                         saveButton._listener = saveCropped;
                         let croppedCanvas = cropper.getCroppedCanvas();
                         let croppedImage = document.getElementById(`file${index1}-preview${index2}`);
                         croppedImage.src = croppedCanvas.toDataURL('image/jpeg', 1.0);
                         let timestamp = new Date().getTime();
                         let color = document.getElementById('color'+index2).value;
                         let extractClr = color.slice(1);
                         let fileName = `cropped-img-${timestamp}-${extractClr}-${index1}.png`;
                         
                         // Convert cropped canvas to Blob and update the input file
                         await croppedCanvas.toBlob(blob => {
                              let input = document.getElementById(`image${index1}-${index2}`);
                              let imgFile = new File([blob], fileName, blob);
                              const fileList = new DataTransfer();
                              fileList.items.add(imgFile);
                              input.files = fileList.files;
                         });
                    });
               };
               reader.readAsDataURL(input.files[0]);
          }

          function validateImage(file) {
               if(!file) {
                    return false;
               }
               const allowedTypes = ['image/jpeg', 'image/png', 'image/gif'];
               if(!allowedTypes.includes(file.type)) {
                    return false;
               }
               const maxSize = 2 * 1024 * 1024;
               if(file.size > maxSize) {
                    return false;
               }
               return true;
          }



function deleteSingleImage(imageId, productId) {
     $.ajax({
          url:'/admin/deleteImage',
          method: 'post',
          data: {imageNameToServer:imageId, productIdToServer:productId},
          success: (response => {
               if(response.status===true) {
                    window.location.reload()
               }
          })
     })
}

     const btn = document.getElementById('variant-add')
          btn.addEventListener("click", addVariants);
          let nextIndex = "<%= index %>";
          nextIndex = Number(nextIndex);
          function addVariants() {
               const variantCont = document.getElementById('variant-add-cont')
               const newDiv = document.createElement('div')
               newDiv.innerHTML = `<!-- color and size combine div -->
                                   <h4 class="text-dark fw-medium mt-5">Variants ${nextIndex+1}:</h4>
                                   <div id="variants-cont${nextIndex}">
                                        <!-- color only -->
                                        <div class="d-flex justify-content-between align-items-center">
                                             <div class="form-group row mt-2" style="width: 100%;">
                                                  <label
                                                  class="form-label col-sm-1 col-form-label"
                                                  for="color${nextIndex}">Color picker:</label>
                                                  <div class="col-sm-4">
                                                       <input type="color" name="productColor" class="form-control form-control-color productColor" id="color${nextIndex}">
                                                  </div>
                                             </div>
                                             <button type="button" class="btn-close" id="close-btn${nextIndex}"></button>   
                                        </div>
                                        <!-- size only div -->
                                        <div class="d-flex flex-wrap gap-1" >
                                             <div class="form-group row mt-2">
                                                  <label
                                                  class="col-sm-3 col-form-label form-label"
                                                  for="XS${nextIndex}">XS:</label>
                                                  <div class="col-sm-5">
                                                       <input type="number" class="form-control productSizeXS" id="XS${nextIndex}">
                                                       <input type="hidden" id="hidden-XS${nextIndex}" name="sizeXS">
                                                  </div>
                                             </div>
                                             <div class="form-group row mt-2">
                                                  <label
                                                  class="col-sm-3 col-form-label form-label"
                                                  for="S${nextIndex}">S:</label>
                                                  <div class="col-sm-5">
                                                       <input type="number" class="form-control productSizeS" id="S${nextIndex}">
                                                       <input type="hidden" id="hidden-S${nextIndex}" name="sizeS">
                                                  </div>
                                             </div>
                                             <div class="form-group row mt-2">
                                                  <label
                                                  class="col-sm-3 col-form-label form-label"
                                                  for="M${nextIndex}">M:</label>
                                                  <div class="col-sm-5">
                                                       <input type="number" class="form-control productSizeM" id="M${nextIndex}">
                                                       <input type="hidden" id="hidden-M${nextIndex}" name="sizeM">
                                                  </div>
                                             </div>
                                             <div class="form-group row mt-2">
                                                  <label
                                                  class="col-sm-3 col-form-label form-label"
                                                  for="L${nextIndex}">L:</label>
                                                  <div class="col-sm-5">
                                                       <input type="number" class="form-control productSizeL" id="L${nextIndex}">
                                                       <input type="hidden" id="hidden-L${nextIndex}" name="sizeL">
                                                  </div>
                                             </div>
                                             <div class="form-group row mt-2">
                                                  <label
                                                  class="col-sm-3 col-form-label form-label"
                                                  for="XL${nextIndex}">XL:</label>
                                                  <div class="col-sm-5">
                                                       <input type="number" class="form-control productSizeXL" id="XL${nextIndex}">
                                                       <input type="hidden" id="hidden-XL${nextIndex}" name="sizeXL">
                                                  </div>
                                             </div>
                                             <div class="form-group row mt-2">
                                                  <label
                                                  class="col-sm-3 col-form-label form-label"
                                                  for="XXL${nextIndex}">XXL:</label>
                                                  <div class="col-sm-5">
                                                       <input type="number" class="form-control productSizeXXL" id="XXL${nextIndex}">
                                                       <input type="hidden" id="hidden-XXL${nextIndex}" name="sizeXXL">
                                                  </div>
                                             </div>
                                             <div class="form-group row mt-2">
                                                  <label
                                                  class="col-sm-3 col-form-label form-label"
                                                  for="3XL${nextIndex}">3XL:</label>
                                                  <div class="col-sm-5">
                                                       <input type="number" class="form-control productSize3XL" id="3XL${nextIndex}">
                                                       <input type="hidden" id="hidden-3XL${nextIndex}" name="size3XL">
                                                  </div>
                                             </div>     
                                        </div>
                                   </div>
                                   <!-- all image add container div -->
                                   <div class="row mt-3">
                                        <div class="col-lg-4">
                                             <div class="mb-3">
                                                  <label for="image1-${nextIndex}" id="file1-upload${nextIndex}"
                                                       class="form-label select-img">Select an Image</label>
                                                  <input type="file" id="image1-${nextIndex}" name="images"
                                                       class="form-control productImages"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       onclick="clearImg(event, 1, ${nextIndex})"
                                                       onchange="viewImage(event, 1, ${nextIndex})">
                                                  <div>
                                                       <img id="img1View${nextIndex}" style="max-height: 500px;">                      
                                                  </div>
                                             </div>
                                             <button type="button" id="crop1-save${nextIndex}"
                                                  class="btn btn-outline-secondary mb-2">save</button>
                                             <div id="preview1-cont${nextIndex}" class="image-cropper img-thumbnail"
                                                  style="width: 100%; height: 250px; overflow: hidden;">
                                                  <img id="file1-preview${nextIndex}"
                                                       style="max-width: 100%; height: auto;">
                                             </div>
                                        </div>
                                        <div class="col-lg-4">
                                             <div class="mb-3">
                                                  <label for="image2-${nextIndex}" id="file2-upload${nextIndex}"
                                                       class="form-label select-img">Select an Image</label>
                                                  <input type="file" id="image2-${nextIndex}" name="images"
                                                       class="form-control productImages"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       onclick="clearImg(event, 2, ${nextIndex})"
                                                       onchange="viewImage(event, 2, ${nextIndex})">
                                                  <div>
                                                       <img id="img2View${nextIndex}" style="max-height: 500px;">
                                                  </div>
                                             </div>
                                             <button type="button" id="crop2-save${nextIndex}"
                                                  class="btn btn-outline-secondary mb-2">save</button>
                                             <div id="preview2-cont${nextIndex}" class="image-cropper img-thumbnail"
                                                  style="width: 100%; height: 250px; overflow: hidden;">
                                                  <img id="file2-preview${nextIndex}"
                                                       style="max-width: 100%; height: auto;">
                                             </div>
                                        </div>
                                        <div class="col-lg-4">
                                             <div class="mb-3">
                                                  <label for="image3-${nextIndex}" id="file3-upload${nextIndex}"
                                                       class="form-label select-img">Select an Image</label>
                                                  <input type="file" id="image3-${nextIndex}" name="images"
                                                       class="form-control productImages"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       onclick="clearImg(event, 3, ${nextIndex})"
                                                       onchange="viewImage(event, 3, ${nextIndex})">
                                                  <div>
                                                       <img id="img3View${nextIndex}" style="max-height: 500px;">
                                                  </div>
                                             </div>
                                             <button type="button" id="crop3-save${nextIndex}"
                                                  class="btn btn-outline-secondary mb-2">save</button>
                                             <div id="preview3-cont${nextIndex}" class="image-cropper img-thumbnail"
                                                  style="width: 100%; height: 250px; overflow: hidden;">
                                                  <img id="file3-preview${nextIndex}"
                                                       style="max-width: 100%; height: auto;">
                                             </div>
                                        </div>    
                                   </div>`
               variantCont.appendChild(newDiv);
               const closeButton = document.getElementById(`close-btn${nextIndex}`);
               closeButton.addEventListener('click', () => {
                    newDiv.remove();
               });
               nextIndex++;
          }
          function variantCoding() {
               if(variantValidation()) {
                    const count = document.getElementsByName('productColor').length;
                    for(let i = 0; i<count; i++) {
                         const color = document.getElementById(`color${i}`).value;
                         const sizeXS = document.getElementById(`XS${i}`);
                         const sizeS = document.getElementById(`S${i}`);
                         const sizeM = document.getElementById(`M${i}`);
                         const sizeL = document.getElementById(`L${i}`);
                         const sizeXL = document.getElementById(`XL${i}`);
                         const sizeXXL = document.getElementById(`XXL${i}`);
                         const size3XL = document.getElementById(`3XL${i}`);

                         const hiddenXS = document.getElementById(`hidden-XS${i}`);
                         const hiddenS = document.getElementById(`hidden-S${i}`);
                         const hiddenM = document.getElementById(`hidden-M${i}`);
                         const hiddenL = document.getElementById(`hidden-L${i}`);
                         const hiddenXL = document.getElementById(`hidden-XL${i}`);
                         const hiddenXXL = document.getElementById(`hidden-XXL${i}`);
                         const hidden3XL = document.getElementById(`hidden-3XL${i}`);

                         if(!hiddenXS.value.includes(color)) {
                              hiddenXS.value = `${sizeXS.value}${color}`;
                         }
                         if(!hiddenS.value.includes(color)) {
                              hiddenS.value = `${sizeS.value}${color}`;
                         }
                         if(!hiddenM.value.includes(color)) {
                              hiddenM.value = `${sizeM.value}${color}`;
                         }
                         if(!hiddenL.value.includes(color)) {
                              hiddenL.value = `${sizeL.value}${color}`;
                         }
                         if(!hiddenXL.value.includes(color)) {
                              hiddenXL.value = `${sizeXL.value}${color}`;
                         }
                         if(!hiddenXXL.value.includes(color)) {
                              hiddenXXL.value = `${sizeXXL.value}${color}`;
                         }
                         if(!hidden3XL.value.includes(color)) {
                              hidden3XL.value = `${size3XL.value}${color}`;
                         }
                    }
               }
          }
          let imageIndex = '<%= product.variant.length %>';
          //define exitsting files in input 
          function inputImageFile() {
               for(let i = 0; i<imageIndex; i++) {
                    const image1 = document.getElementById('image1-'+i);
                    const image2 = document.getElementById('image2-'+i);
                    const image3 = document.getElementById('image3-'+i);

                    const existImage1 = document.getElementById('exist-1image'+i);
                    const existImage2 = document.getElementById('exist-2image'+i);
                    const existImage3 = document.getElementById('exist-3image'+i);
     
                    if(image1.files.length !== 0) {
                         existImage1.value = null;
                    }
                    if(image2.files.length !== 0) {
                            existImage2.value = null;
                    }
                    if(image3.files.length !== 0) {
                            existImage3.value = null;
                    }
               }
  
          }

          async function validateAndSubmit(event) {
               event.preventDefault();
               try {
                    if(!validateForm()) {
                         return;
                    }
                    const productForm = document.getElementById('product-form');
                    const formData = new FormData(productForm);
                    const response = await fetch('/admin/editProduct/<%= product._id %>', {
                         method:'PUT',
                         body: formData
                    });
                    const data = await response.json();
                    if (!response.ok) {
                         throw new Error(data.message);
                    }
                    if(data.success) {
                         Swal.fire({
                              position: "top-end",
                              html: `
                                   <div style="display: flex; align-items: center; gap: 10px;">
                                        <div>
                                             <div class="swal2-icon swal2-success" style="width: 30px; height: 30px; margin: 0; font-size: 16px;"></div>
                                        </div>
                                        <div style="font-size: 20px; text-align: left;">Edited successfully!</div>
                                   </div>
                              `,
                              showConfirmButton: false,
                              timer: 1500,
                              customClass: {
                                   popup: 'compact-swal-popup',
                              }
                         })
                         .then(() => {
                              window.location.href = '/admin/products';
                         })
                    } 
               } catch (error) {
                    Swal.fire({
                         position: "top-end",
                         html: `
                              <div style="display: flex; align-items: center; gap: 10px;">
                                   <div>
                                        <div class="swal2-icon swal2-error" style="width: 30px; height: 30px; margin: 0; font-size: 16px;"></div>
                                   </div>
                                   <div style="font-size: 20px; text-align: left;">Oops... ${error.message}</div>
                              </div>
                         `,
                         showConfirmButton: false,
                         timer: 1500,
                         customClass: {
                              popup: 'compact-swal-popup',
                         }
                    });
               }
          }
          document.getElementById('save-btn').addEventListener('click', validateAndSubmit);

     async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);

</script>
     
</body>


<!-- Mirrored from techzaa.in/larkon/admin/product-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->

</html>