<!doctype html>
<html lang="zxx">


<!-- Mirrored from risingtheme.com/html/demo-suruchi-v1/suruchi/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Nov 2024 05:23:41 GMT -->
<head>
  <meta charset="utf-8">
  <title>GYM CLUB</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    
   <!-- ======= All CSS Plugins here ======== -->
  <link rel="stylesheet" href="css/plugins/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/plugins/glightbox.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

  <!-- Plugin css -->
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">

  <!-- Custom Style CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Start preloader -->
    <%- include('../partials/user/preloader') %>
    <!-- End preloader -->
    
    <!-- Start header area -->
    <%- include('../partials/user/header') %>
    <!-- End header area --> 

    <main class="main__content_wrapper">
        <!-- Start slider section -->
        <section class="hero__slider--section">
            <div class="hero__slider--inner hero__slider--activation swiper">
                <div class="hero__slider--wrapper swiper-wrapper">
                    <div class="swiper-slide ">
                        <div class="hero__slider--items home1__slider--bg two">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <div class="hero__slider--items__inner">
                                            <div class="slider__content">
                                                <p class="slider__content--desc desc1 mb-15"><img class="slider__text--shape__icon" src="img/icon/text-shape-icon.png" alt="text-shape-icon"> New Collection</p> 
                                                <h2 class="slider__content--maintitle h1">The Great Fashion <br>
                                                    Collection 2022</h2>
                                                <p class="slider__content--desc desc2 d-sm-2-none mb-40 ">Up To 40% Off Final Sale Items. <br>
                                                    Caught in the Moment!</p>    
                                                <a class="primary__btn slider__btn" href="/shop">Show Collection
                                                    <svg class="slider__btn--arrow__icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewBox="0 0 6.2 6.2">
                                                    <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper__nav--btn swiper-button-next"></div>
                <div class="swiper__nav--btn swiper-button-prev"></div>
            </div>
        </section>
        <!-- End slider section -->

        <!-- Start product section -->
        <section class="product__section section--padding pt-0 mt-5">
            <div class="container-fluid">
                <div class="section__heading text-center mb-35">
                    <h2 class="section__heading--maintitle">New Products</h2>
                </div>
                <div class="tab_content">
                    <div id="featured" class="tab_pane active show">
                        <div class="product__section--inner">
                            <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mb--n30">
                                <% for(let i = 0; i<product.length; i++) { %>
                                <div class="col mb-30">
                                    <div class="product__items ">
                                        <div class="product__items--thumbnail">
                                            <a class="product__items--link" href="/productDetails?id=<%= product[i]._id %>">
                                                <img class="product__items--img product__primary--img" src="/<%= product[i].variant[0].image[0] %>" alt="product-img">
                                                <img class="product__items--img product__secondary--img" src="/<%= product[i].variant[0].image[1] %>" alt="product-img">
                                            </a>

                                            <% if(product[i].offerApplied) { %>
                                                <% if(product[i].offerApplied.discountType === 'percentage') { %>
                                                    <div class="product__badge">
                                                        <span class="product__badge--items sale"><%= product[i].offerApplied.discountVal %>% OFF</span>
                                                    </div>
                                                <% } else { %>
                                                    <div class="product__badge">
                                                        <span class="product__badge--items sale"><%= product[i].offerApplied.discountVal %>RS OFF</span>
                                                    </div>
                                                <% } %>
                                            <% } %>
                                        </div>
                                        <div class="product__items--content">
                                            <h3 class="product__items--content__title h4"><a href="/productDetails?id=<%= product[i]._id %>"><%= product[i].productName %></a></h3>
                                            <div class="product__items--price">
                                                <% if(product[i].offerApplied) { %>
                                                    <% if(product[i].offerApplied.discountType === 'percentage') { %>
                                                        <% let disPrice = product[i].salePrice * (product[i].offerApplied.discountVal/100) %>
                                                        <% let finalDisPrice = Math.min(disPrice, product[i].offerApplied.maxDiscount) %>
                                                        <% let finalPrice = (product[i].salePrice - finalDisPrice).toFixed(2) %>
                                                        <% if(finalPrice>0) { %>
                                                            <span class="current__price"><%= finalPrice %></span>
                                                            <span class="price__divided"></span>
                                                            <span class="old__price"><%= product[i].salePrice %></span>
                                                        <% } else { %>
                                                            <span class="current__price"><%= product[i].salePrice %></span>
                                                            <span class="price__divided"></span>
                                                            <span class="old__price"><%= product[i].regularPrice %></span>
                                                        <% } %>
                                                    <% } else { %>
                                                        <% let finalPrice = (product[i].salePrice - product[i].offerApplied.discountVal).toFixed(2) %>
                                                        <% if(finalPrice>0) { %>
                                                            <span class="current__price"><%= finalPrice %></span>
                                                            <span class="price__divided"></span>
                                                            <span class="old__price"><%= product[i].salePrice %></span>
                                                        <% } else { %>
                                                            <span class="current__price"><%= product[i].salePrice %></span>
                                                            <span class="price__divided"></span>
                                                            <span class="old__price"><%= product[i].regularPrice %></span>
                                                        <% } %>
                                                    <% } %>
                                                <% } else { %>
                                                    <span class="current__price"><%= product[i].salePrice %></span>
                                                    <span class="price__divided"></span>
                                                    <span class="old__price"><%= product[i].regularPrice %></span>
                                                <% } %>
                                            </div>
                                            <ul class="rating product__rating d-flex">
                                                <li class="rating__list">
                                                    <span class="rating__list--icon">
                                                        <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewBox="0 0 10.105 9.732">
                                                        <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                </li>
                                                <li class="rating__list">
                                                    <span class="rating__list--icon">
                                                        <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewBox="0 0 10.105 9.732">
                                                        <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                </li>
                                                <li class="rating__list">
                                                    <span class="rating__list--icon">
                                                        <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewBox="0 0 10.105 9.732">
                                                        <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                </li>
                                                <li class="rating__list">
                                                    <span class="rating__list--icon">
                                                        <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewBox="0 0 10.105 9.732">
                                                        <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                </li>
                                                <li class="rating__list">
                                                    <span class="rating__list--icon">
                                                        <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="14.105" height="14.732" viewBox="0 0 10.105 9.732">
                                                        <path data-name="star - Copy" d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z" transform="translate(0 -0.018)" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End product section -->



        <!-- Start banner section -->
        <section class="banner__section section--padding pt-0">
            <div class="container-fluid">
                <div class="row row-cols-md-2 row-cols-1 mb--n28">
                    <div class="col mb-28">
                        <div class="banner__items position__relative">
                            <a class="banner__items--thumbnail " href="/shop"><img class="banner__items--thumbnail__img banner__img--max__height" src="img/banner/banner5.png" alt="banner-img">
                                <div class="banner__items--content">
                                    <span class="banner__items--content__subtitle d-none d-lg-block">Pick Your Items</span>
                                    <h2 class="banner__items--content__title h3">Up to 25% Off Order Now</h2>
                                    <span class="banner__items--content__link"><u>Shop now</u></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mb-28">
                        <div class="banner__items position__relative">
                            <a class="banner__items--thumbnail " href="/shop"><img class="banner__items--thumbnail__img banner__img--max__height" src="img/banner/banner6.png" alt="banner-img">
                                <div class="banner__items--content">
                                    <span class="banner__items--content__subtitle d-none d-lg-block">Special offer</span>
                                    <h2 class="banner__items--content__title h3">Up to 35% Off Order Now</h2>
                                    <span class="banner__items--content__link"><u>Discover Now</u> </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner section -->
    </main>

    <!-- Start footer section -->
    <%- include('../partials/user/footer') %>
    <!-- End footer section -->
     
    <!-- Scroll top bar -->
    <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/></svg></button>
    
  <!-- All Script JS Plugins here  -->
  <script src="js/vendor/popper.js" defer="defer"></script>
  <script src="js/vendor/bootstrap.min.js" defer="defer"></script>
  <script src="js/plugins/swiper-bundle.min.js"></script>
  <script src="js/plugins/glightbox.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Customscript js -->
  <script src="js/script.js"></script>
</body>

<!-- Mirrored from risingtheme.com/html/demo-suruchi-v1/suruchi/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Nov 2024 05:25:06 GMT -->
</html>