<!doctype html>
<html lang="en">


<!-- Mirrored from risingtheme.com/html/demo-suruchi-v1/suruchi/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Nov 2024 05:25:17 GMT -->
<head>
  <meta charset="utf-8">
  <title>Suruchi - My Account</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    
   <!-- ======= All CSS Plugins here ======== -->
  <link rel="stylesheet" href="css/plugins/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/plugins/glightbox.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

  <!-- Plugin css -->
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">

  <!-- Custom Style CSS -->
  <link rel="stylesheet" href="css/style.css">
  <style>
    #logout-btn {
        background-color: transparent;
        border: none;
        padding: 0;
    }
  </style>
</head>

<body>
     
    <!-- Start header area -->
    <%- include('../partials/user/header') %>
    <!-- End header area --> 

    <main class="main__content_wrapper">

        <!-- Start breadcrumb section -->
        <section class="breadcrumb__section breadcrumb__bg">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__content--title text-white mb-25">My Account</h1>
                            <ul class="breadcrumb__content--menu d-flex justify-content-center">
                                <li class="breadcrumb__content--menu__items"><a class="text-white" href="/">Home</a></li>
                                <li class="breadcrumb__content--menu__items"><span class="text-white">Order</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb section -->
        
        <!-- my account section start -->
        <section class="my__account--section section--padding">
            <div class="container">
                <p class="account__welcome--text">Hello, <%= locals.user %> welcome to your dashboard!</p>
                <div class="my__account--section__inner border-radius-10 d-flex">
                    <div class="account__left--sidebar">
                        <h2 class="account__content--title h3 mb-20">My Account</h2>
                        <ul class="account__menu">
                          <li class="account__menu--list"><a href="/account">Profile Information</a></li> 
                            <li class="account__menu--list active"><a href="#">Orders</a></li>
                            <li class="account__menu--list"><a href="/address">Addresses</a></li>
                            <li class="account__menu--list"><a href="/wishlist">Wishlist</a></li>
                            <li class="account__menu--list"><a href="/wallet">Wallet</a></li>
                            <li class="account__menu--list"><button id="logout-btn" class="h4">Log Out</button></li>
                        </ul>
                    </div>
                    <div class="account__wrapper">
                        <div class="account__content">
                            <h2 class="account__content--title h3 mb-20">Orders History</h2>
                            <div class="account__table--area">
                                <table class="account__table">
                                    <thead class="account__table--header">
                                        <tr class="account__table--header__child">
                                            <th class="account__table--header__child--items">Order</th>
                                            <th class="account__table--header__child--items">Date</th>
                                            <th class="account__table--header__child--items">Payment Status</th>
                                            <th class="account__table--header__child--items">Order Status</th>
                                            <th class="account__table--header__child--items">Total Amount</th>
                                            <th class="account__table--header__child--items">Payable Amount</th>	 	 	
                                            <th class="account__table--header__child--items">action</th>	 	
                                        </tr>
                                    </thead>
                                    <tbody class="account__table--body mobile__none">
                                        <% for(let i = 0; i<orders.length; i++) { %>
                                        <tr class="account__table--body__child">
                                            <td class="account__table--body__child--items"><%= orders[i].orderedId %></td>
                                            <td class="account__table--body__child--items convert-date" data-date="<%= orders[i].createdAt %>"></td>
                                            <td class="account__table--body__child--items"><%= orders[i].paymentStatus %></td>
                                            <td class="account__table--body__child--items"><%= orders[i].orderStatus %></td>
                                            <td class="account__table--body__child--items"><%= orders[i].totalAmount %></td>
                                            <td class="account__table--body__child--items"><%= orders[i].payableAmount %></td>
                                            <td class="account__table--body__child--items"><a href="/orderDetails?id=<%= orders[i]._id %>" class="btn btn-primary w-100 h-100 h4">view</a></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                    <tbody class="account__table--body mobile__block">
                                        <tr class="account__table--body__child">
                                            <td class="account__table--body__child--items">
                                                <strong>Order</strong>
                                                <span>#2014</span>
                                            </td>
                                            <td class="account__table--body__child--items">
                                                <strong>Date</strong>
                                                <span>November 24, 2022</span>
                                            </td>
                                            <td class="account__table--body__child--items">
                                                <strong>Payment Status</strong>
                                                <span>Paid</span>
                                            </td>
                                            <td class="account__table--body__child--items">
                                                <strong>Fulfillment Status</strong>
                                                <span>Unfulfilled</span>
                                            </td>
                                            <td class="account__table--body__child--items">
                                                <strong>Total</strong>
                                                <span>$40.00 USD</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination__area bg__gray--color">
                                <nav class="pagination justify-content-center">
                                    <div class="pagination-conatiner">
                                        <% if(currentPage > 1) { %>
                                        <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
                                        <% } %> <% for(let i = 1; i<= totalPages; i++) { %> <% if(i === currentPage) { %>
                                        <span class="current-page"><%= i %></span>
                                        <% } else { %>
                                        <a href="?page=<%= i %>"><%= i %></a>
                                        <% } %> <% } %> <% if(currentPage < totalPages) { %>
                                        <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
                                        <% } %>  
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- my account section end -->

    </main>

    <!-- Start footer section -->
    <%- include('../partials/user/footer') %>
    <!-- End footer section -->

    <!-- Scroll top bar -->
    <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/></svg></button>

    
  <!-- All Script JS Plugins here  -->
  <script src="js/vendor/popper.js" defer="defer"></script>
  <script src="js/vendor/bootstrap.min.js" defer="defer"></script>
  <script src="js/plugins/swiper-bundle.min.js"></script>
  <script src="js/plugins/glightbox.min.js"></script>

  <!-- Customscript js -->
  <script src="js/script.js"></script>
  <script>
    function covertDate(element, newDate) {
        const date = new Date(newDate);
        const convertedDate = date.getDate() +  " " + date.toLocaleString('default', { month: 'short' }) + " " + date.getFullYear();
        element.innerHTML = convertedDate;
    }
    document.addEventListener('DOMContentLoaded', () => {
        const dateElem = document.querySelectorAll('.convert-date');
        dateElem.forEach((element) => {
            const date = element.getAttribute('data-date');
            covertDate(element, date);
        });
    });

    async function logout() {
          try {
               const response = await fetch('/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);
  </script>
</body>

<!-- Mirrored from risingtheme.com/html/demo-suruchi-v1/suruchi/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Nov 2024 05:25:18 GMT -->
</html>