<!doctype html>
<html lang="en">


<!-- Mirrored from risingtheme.com/html/demo-suruchi-v1/suruchi/my-account-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Nov 2024 05:25:38 GMT -->
<head>
  <meta charset="utf-8">
  <title>Suruchi - My Account</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    
   <!-- ======= All CSS Plugins here ======== -->
  <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/plugins/glightbox.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

  <!-- Plugin css -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

  <!-- Custom Style CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .add-address-cont,
    .edit-address-cont {
        display: none;
    }
    .error-message {
        display: none;
    }
    #logout-btn {
        background-color: transparent;
        border: none;
        padding: 0;
    }
</style>
</head>

<body>

   <!-- Start preloader -->
   <%- include('../partials/user/preloader') %>
   <!-- End preloader -->

    <!-- Start header area -->
    <%- include('../partials/user/header') %>
    <!-- End header area --> 

    <main class="main__content_wrapper">

        <!-- Start breadcrumb section -->
        <section class="breadcrumb__section breadcrumb__bg">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__content--title text-white mb-25">My Account</h1>
                            <ul class="breadcrumb__content--menu d-flex justify-content-center">
                                <li class="breadcrumb__content--menu__items"><a class="text-white" href="/">Home</a></li>
                                <li class="breadcrumb__content--menu__items" id="my-account"><span class="text-white">Addresses</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb section -->
        
        <!-- my account section start -->
        <section class="my__account--section section--padding">
            <div class="container">
                <div class="my__account--section__inner border-radius-10 d-flex">
                    <div class="account__left--sidebar">
                        <h2 class="account__content--title h3 mb-20">My Account</h2>
                        <ul class="account__menu">
                          <li class="account__menu--list"><a href="/account">Profile Information</a></li>
                            <li class="account__menu--list"><a href="/orders">Orders</a></li>
                            <li class="account__menu--list active"><a href="#">Addresses</a></li>
                            <li class="account__menu--list"><a href="/wishlist">Wishlist</a></li>
                            <li class="account__menu--list"><a href="/wallet">Wallet</a></li>
                            <li class="account__menu--list"><button id="logout-btn" class="h4">Log Out</button></li>
                        </ul>
                    </div>
                    <div class="account__wrapper">
                        <div class="account__content">
                            <h3 class="account__content--title mb-20" id="address-head">Addresses</h3>
                            <% if(userAddress.length>0) { %>
                            <button class="new__address--btn primary__btn mb-25" id="add-open-btn" type="button">Add a new address</button>
                            <% } else { %>
                                <h4>No Addressess found in your account</h4>
                                <p>add a delivery address.</p>
                                <button class="new__address--btn primary__btn mb-25" id="add-open-btn" type="button">Add a new address</button>
                            <% } %>
                            <div class="add-address-cont" id="add-address-cont">
                                <form onsubmit="return addAddressSubmit(event)">
                                    <div class="row row-cols-1 justify-content-center my-5">
                                        <div class="col">
                                            <div class="account__login">
                                                <div class="account__login--header mb-25">
                                                    <h2 class="account__login--header__title h3 mb-10">Add a new address</h2>
                                                </div>
                                                <div class="account__login--inner">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="name">Name</label>
                                                            <input class="account__login--input" type="text" id="name" placeholder="Name">
                                                            <div class="text-danger error-message" id="name-error"></div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="phone-no">Mobile number</label>
                                                            <input class="account__login--input" type="text" id="phone-no" placeholder="10-digit mobile number">
                                                            <div class="text-danger error-message" id="phoneNo-error"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="pincode">Pincode</label>
                                                            <input class="account__login--input" type="text" id="pincode" placeholder="Pincode">
                                                            <div class="text-danger error-message" id="pincode-error"></div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="locality">Locality</label>
                                                            <input class="account__login--input" type="text" id="locality" placeholder="Locality">
                                                            <div class="text-danger error-message" id="locality-error"></div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <label for="address">Address (Area and Street)</label>
                                                        <textarea id="address" class="account__login--input" style="width: 100%; height: 130px;"></textarea>
                                                        <div class="text-danger error-message" id="address-error"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="place">City/District/Town</label>
                                                            <input class="account__login--input" type="text" id="place" placeholder="City/District/Town">
                                                            <div class="text-danger error-message" id="place-error"></div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="state">State</label>
                                                            <input class="account__login--input" type="text" id="state" placeholder="Locality">
                                                            <div class="text-danger error-message" id="state-error"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="landmark">Landmark (Optional)</label>
                                                            <input class="account__login--input" type="text" id="landmark" placeholder="Landmark">
                                                            <div class="text-danger error-message" id="landmark-error"></div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="alt-phone">Alternate Phone (Optional)</label>
                                                            <input class="account__login--input" type="text" id="alt-phone" placeholder="Alternate Phone">
                                                            <div class="text-danger error-message" id="phoneNo2-error"></div>
                                                        </div>
                                                    </div>
                                                    <h5>Address Type</h5>
                                                    <div class="row mb-5">
                                                        <div class="col-lg-2 d-flex">
                                                            <input class="me-3" type="radio" value="home" name="address-type" id="type-home">
                                                            <label for="type-home">Home</label>
                                                        </div>
                                                        <div class="col-lg-2 d-flex">
                                                            <input class="me-3" type="radio" value="work" name="address-type" id="type-work">
                                                            <label for="type-work">Work</label>
                                                        </div>
                                                        <div class="text-danger error-message" id="addType-error"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <button class="account__login--btn primary__btn" type="submit">Save</button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button class="account__login--btn primary__btn" id="add-close-btn" type="button">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>   
                            </div>
                            <% if(userAddress.length>0) { %>
                                <% for(let i = 0; i< userAddress.length; i++) { %> 
                                <div id="address-info<%= i %>" class="address-info">
                                    <div class="account__details two">
                                        <h4 class="account__details--title"><%= userAddress[i].addressType %></h4>
                                        <div class="d-flex">
                                            <h5 class="my-0 me-4"><%= userAddress[i].name %></h5>
                                            <h5 class="m-0"><%= userAddress[i].phone %></h5>
                                        </div>
                                        <p class="account__details--desc m-0"><%= userAddress[i].address %>, <%= userAddress[i].locality %>, <%= userAddress[i].place %>, <%= userAddress[i].state %> - <%= userAddress[i].pincode %></p>
                                    </div>
                                    <div class="account__details--footer d-flex mb-5">
                                        <button class="account__details--footer__btn" id="edit-open-btn<%= i %>" type="button">Edit</button>
                                        <button class="account__details--footer__btn" onclick="return deleteAddress('<%= userAddress[i]._id %>', '<%= i %>')" type="button">Delete</button>
                                    </div>
                                </div>                                      
                            <div class="edit-address-cont" id="edit-address-cont<%= i %>">
                                <form onsubmit="return editAddressSubmit(event, '<%= i %>', '<%= userAddress[i]._id %>')">
                                    <div class="row row-cols-1 justify-content-center my-5">
                                        <div class="col">
                                            <div class="account__login">
                                                <div class="account__login--header mb-25">
                                                    <h2 class="account__login--header__title h3 mb-10">Edit address</h2>
                                                </div>
                                                <div class="account__login--inner">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="name<%= i %>">Name</label>
                                                            <input class="account__login--input" type="text" id="name<%= i %>" placeholder="Name" value="<%= userAddress[i].name %>">
                                                            <div class="text-danger error-message" id="name-error<%= i %>"></div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="phone-no<%= i %>">Mobile number</label>
                                                            <input class="account__login--input" type="text" id="phone-no<%= i %>" value="<%= userAddress[i].phone %>" placeholder="10-digit mobile number">
                                                            <div class="text-danger error-message" id="phoneNo-error<%= i %>"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="pincode<%= i %>">Pincode</label>
                                                            <input class="account__login--input" type="text" id="pincode<%= i %>" value="<%= userAddress[i].pincode %>"placeholder="Pincode">
                                                            <div class="text-danger error-message" id="pincode-error<%= i %>"></div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="locality<%= i %>">Locality</label>
                                                            <input class="account__login--input" type="text" id="locality<%= i %>" value="<%= userAddress[i].locality %>" placeholder="Locality">
                                                            <div class="text-danger error-message" id="locality-error<%= i %>"></div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <label for="address<%= i %>">Address (Area and Street)</label>
                                                        <textarea id="address<%= i %>" class="account__login--input" style="width: 100%; height: 130px;"><%= userAddress[i].address %></textarea>
                                                        <div class="text-danger error-message" id="address-error<%= i %>"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="place<%= i %>">City/District/Town</label>
                                                            <input class="account__login--input" type="text" id="place<%= i %>" value="<%= userAddress[i].place %>" placeholder="City/District/Town">
                                                            <div class="text-danger error-message" id="place-error<%= i %>"></div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="state<%= i %>">State</label>
                                                            <input class="account__login--input" type="text" id="state<%= i %>" value="<%= userAddress[i].state %>" placeholder="Locality">
                                                            <div class="text-danger error-message" id="state-error<%= i %>"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <% if(userAddress[i].landmark) { %>
                                                            <div class="col-6">
                                                                <label for="landmark<%= i %>">Landmark (Optional)</label>
                                                                <input class="account__login--input" type="text" id="landmark<%= i %>" value="<%= userAddress[i].landmark %>" placeholder="Landmark">
                                                                <div class="text-danger error-message" id="landmark-error<%= i %>"></div>
                                                            </div>
                                                        <% } else { %>
                                                            <div class="col-6">
                                                                <label for="landmark<%= i %>">Landmark (Optional)</label>
                                                                <input class="account__login--input" type="text" id="landmark<%= i %>" placeholder="Landmark">
                                                                <div class="text-danger error-message" id="landmark-error<%= i %>"></div>
                                                            </div>
                                                        <% } %>
                                                        <% if(userAddress[i].alternatePhone) { %>
                                                            <div class="col-6">
                                                                <label for="alt-phone<%= i %>">Alternate Phone (Optional)</label>
                                                                <input class="account__login--input" type="text" id="alt-phone<%= i %>" value="<%= userAddress[i].alternatePhone %>" placeholder="Alternate Phone">
                                                                <div class="text-danger error-message" id="phoneNo2-error<%= i %>"></div>
                                                            </div>
                                                        <% } else { %>
                                                            <div class="col-6">
                                                                <label for="alt-phone<%= i %>">Alternate Phone (Optional)</label>
                                                                <input class="account__login--input" type="text" id="alt-phone<%= i %>" placeholder="Alternate Phone">
                                                                <div class="text-danger error-message" id="phoneNo2-error<%= i %>"></div>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                    <h5>Address Type</h5>
                                                    <div class="row mb-5">
                                                        <% if(userAddress[i].addressType === 'home') { %>
                                                            <div class="col-lg-2 d-flex">
                                                                <input class="me-3" checked type="radio" value="home" name="address-type" id="type-home<%= i %>">
                                                                <label for="type-home<%= i %>">Home</label>
                                                            </div>
                                                            <div class="col-lg-2 d-flex">
                                                                <input class="me-3" type="radio" value="work" name="address-type" id="type-work<%= i %>">
                                                                <label for="type-work<%= i %>">Work</label>
                                                            </div>
                                                            <div class="text-danger error-message" id="addType-error<%= i %>"></div>
                                                        <% } else { %>
                                                            <div class="col-lg-2 d-flex">
                                                                <input class="me-3" type="radio" value="home" name="address-type" id="type-home<%= i %>">
                                                                <label for="type-home<%= i %>">Home</label>
                                                            </div>
                                                            <div class="col-lg-2 d-flex">
                                                                <input class="me-3" checked type="radio" value="work" name="address-type" id="type-work<%= i %>">
                                                                <label for="type-work<%= i %>">Work</label>
                                                            </div>
                                                            <div class="text-danger error-message" id="addType-error<%= i %>"></div>
                                                        <% } %>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <button class="account__login--btn primary__btn" type="submit">Save</button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button class="account__login--btn primary__btn" id="edit-close-btn<%= i %>" type="button">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form> 
                            </div>
                            <% }} %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- my account section end -->
    </main>

     <!-- Start footer section -->
     <%- include('../partials/user/footer') %>
     <!-- End footer section --> 

    <!-- Scroll top bar -->
    <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/></svg></button>

    
  <!-- All Script JS Plugins here  -->
  <script src="assets/js/vendor/popper.js" defer="defer"></script>
  <script src="assets/js/vendor/bootstrap.min.js" defer="defer"></script>
  <script src="assets/js/plugins/swiper-bundle.min.js"></script>
  <script src="assets/js/plugins/glightbox.min.js"></script>

  <!-- Customscript js -->
  <script src="assets/js/script.js"></script>
  
</body>
<script>
    // for add address modal
    function openAddAddress() {
        document.getElementById('add-address-cont').style.display = 'block';
    }
    function closeAddAddress() {
        clearForm();
        document.getElementById('add-address-cont').style.display = 'none';
        window.location.href = '#my-account'
    }
    const openAddbtn = document.getElementById('add-open-btn');
    const closeAddbtn = document.getElementById('add-close-btn');
    openAddbtn.addEventListener('click', openAddAddress);
    closeAddbtn.addEventListener('click', closeAddAddress);
    
    // for edit address modal
    const addressLength = '<%= userAddress.length %>';
    for(let i = 0; i < addressLength; i++) {
        const openEditbtn = document.getElementById('edit-open-btn'+i);
        const closeEditbtn = document.getElementById('edit-close-btn'+i);
        openEditbtn.addEventListener('click', () => {
            document.querySelectorAll('.edit-address-cont').forEach(element => element.style.display = 'none');
            document.querySelectorAll('.address-info').forEach(element => element.style.display = 'block');
            document.getElementById('address-info'+i).style.display = 'none';
            document.getElementById('edit-address-cont'+i).style.display = 'block';
        });
        closeEditbtn.addEventListener('click', () => {
            document.getElementById('address-info'+i).style.display = 'block';
            document.getElementById('edit-address-cont'+i).style.display = 'none';
            window.location.href = '#address-head'
        });
    }

    async function addAddressSubmit(event) {
        event.preventDefault();
        try {
            if(!validateAddForm()) {
                return;
            }
            const name = document.getElementById('name').value;
            const phoneNo = document.getElementById('phone-no').value;
            const pincode = document.getElementById('pincode').value;
            const locality = document.getElementById('locality').value;
            const address = document.getElementById('address').value;
            const place = document.getElementById('place').value;
            const state = document.getElementById('state').value;
            const landmark = document.getElementById('landmark').value;
            const phoneNo2 = document.getElementById('alt-phone').value;
            const homeAddType = document.getElementById('type-home');
            const workAddType = document.getElementById('type-work');

            let addressType
            if(homeAddType.checked) {
                addressType = homeAddType.value;
            } else {
                addressType = workAddType.value;
            }

            const response = await fetch('/addAddress?id=<%= userId %>', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({name, phoneNo, pincode, locality, address, place, state, landmark, phoneNo2, addressType})
            });
            const data = await response.json();
            if(!response.ok) {
                throw new Error(data.message);
            }
            if(data.success) {
                Swal.fire({
                    position: "top-end",
                    icon: 'success',
                    title: 'Address added Successfully',
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                        popup: 'custom-swal-popup'
                    }
                })
                .then(() => {
                    window.location.reload();
                });
            }
        } catch (error) {
            Swal.fire({
                position: "top-end",
                icon: "error",
                title: "Oops...",
                text:error.message,
                showConfirmButton: false,
                timer: 1500,
                customClass: {
                    popup: 'custom-swal-popup'
                }
            });
        }
    }
    // for edit address
    async function editAddressSubmit(event, i, addressId) {
        event.preventDefault();
        try {
            if(!validateEditForm(i)) {
                return;
            }
            const name = document.getElementById('name'+i).value;
            const phoneNo = document.getElementById('phone-no'+i).value;
            const pincode = document.getElementById('pincode'+i).value;
            const locality = document.getElementById('locality'+i).value;
            const address = document.getElementById('address'+i).value;
            const place = document.getElementById('place'+i).value;
            const state = document.getElementById('state'+i).value;
            const landmark = document.getElementById('landmark'+i).value;
            const phoneNo2 = document.getElementById('alt-phone'+i).value;
            const homeAddType = document.getElementById('type-home'+i);
            const workAddType = document.getElementById('type-work'+i);
            let addressType
            if(homeAddType.checked) {
                addressType = homeAddType.value;
            } else {
                addressType = workAddType.value;
            }
            const response = await fetch(`/editAddress?id=${addressId}`, {
                method: 'PUT',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({name, phoneNo, pincode, locality, address, place, state, landmark, phoneNo2, addressType})
            });
            const data = await response.json();
            if(!response.ok) {
                throw new Error(data.message);
            }
            if(data.success) {
                Swal.fire({
                    position: "top-end",
                    icon: 'success',
                    title: 'Address edited Successfully',
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                        popup: 'custom-swal-popup'
                    }
                })
                .then(() => {
                    window.location.reload();
                })
            }
        } catch (error) {
            Swal.fire({
                position: "top-end",
                icon: "error",
                title: "Oops...",
                text:error.message,
                showConfirmButton: false,
                timer: 1500,
                customClass: {
                    popup: 'custom-swal-popup'
                }
            });
        }
    }

    // for delete address
    async function deleteAddress(id , i) {
        try {
            const response = await fetch(`/deleteAddress?id=${id}`, {method: 'DELETE'});
            const data = await response.json();
            if(!response.ok) {
                throw new Error(data.message);
            }
            if(data.success) {
                Swal.fire({
                    position: "top-end",
                    icon: 'success',
                    title: 'Address deleted Successfully',
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                        popup: 'custom-swal-popup'
                    }
                })
                .then(() => {
                    document.getElementById('address-info'+i).style.display = 'none';
                    document.getElementById('address-info'+i).classList.remove('address-info');
                })
            }
        } catch (error) {
            Swal.fire({
                position: "top-end",
                icon: "error",
                title: "Oops...",
                text: error.message,
                showConfirmButton: false,
                timer: 1500,
                customClass: {
                    popup: 'custom-swal-popup'
                }
            });
        }
    }

    // for clear add address form
    function clearForm() {
        document.getElementById('name').value = '';
        document.getElementById('phone-no').value = '';
        document.getElementById('pincode').value = '';
        document.getElementById('locality').value = '';
        document.getElementById('address').value = '';
        document.getElementById('place').value = '';
        document.getElementById('state').value = '';
        document.getElementById('landmark').value = '';
        document.getElementById('alt-phone').value = '';

        const nameError = document.getElementById('name-error');
        const phoneNoError = document.getElementById('phoneNo-error');
        const pincodeError = document.getElementById('pincode-error');
        const localityError = document.getElementById('locality-error');
        const addressError = document.getElementById('address-error');
        const placeError = document.getElementById('place-error');
        const stateError = document.getElementById('state-error');
        const landmarkError = document.getElementById('landmark-error');
        const phoneNo2Error = document.getElementById('phoneNo2-error');
        const addTypeError = document.getElementById('addType-error');

        nameError.textContent = '';
        nameError.style.display = 'none';

        phoneNoError.textContent = '';
        phoneNoError.style.display = 'none';

        pincodeError.textContent = '';
        pincodeError.style.display = 'none';

        localityError.textContent = '';
        localityError.style.display = 'none';

        addressError.textContent = '';
        addressError.style.display = 'none';

        placeError.textContent = '';
        placeError.style.display = 'none';

        stateError.textContent = '';
        stateError.style.display = 'none';

        landmarkError.textContent = '';
        landmarkError.style.display = 'none';

        phoneNo2Error.textContent = '';
        phoneNo2Error.style.display = 'none';

        addTypeError.textContent = '';
        addTypeError.style.display = 'none';
    }

    //validation for add Addresss
    function validateAddForm() {
        let isValid = true;

        const name = document.getElementById('name').value;
        const phoneNo = document.getElementById('phone-no').value;
        const pincode = document.getElementById('pincode').value;
        const locality = document.getElementById('locality').value;
        const address = document.getElementById('address').value;
        const place = document.getElementById('place').value;
        const state = document.getElementById('state').value;
        const landmark = document.getElementById('landmark').value;
        const phoneNo2 = document.getElementById('alt-phone').value;
        const homeAddType = document.getElementById('type-home');
        const workAddType = document.getElementById('type-work');

        const nameError = document.getElementById('name-error');
        const phoneNoError = document.getElementById('phoneNo-error');
        const pincodeError = document.getElementById('pincode-error');
        const localityError = document.getElementById('locality-error');
        const addressError = document.getElementById('address-error');
        const placeError = document.getElementById('place-error');
        const stateError = document.getElementById('state-error');
        const landmarkError = document.getElementById('landmark-error');
        const phoneNo2Error = document.getElementById('phoneNo2-error');
        const addTypeError = document.getElementById('addType-error');

        nameError.textContent = '';
        nameError.style.display = 'none';

        phoneNoError.textContent = '';
        phoneNoError.style.display = 'none';

        pincodeError.textContent = '';
        pincodeError.style.display = 'none';

        localityError.textContent = '';
        localityError.style.display = 'none';

        addressError.textContent = '';
        addressError.style.display = 'none';

        placeError.textContent = '';
        placeError.style.display = 'none';

        stateError.textContent = '';
        stateError.style.display = 'none';

        landmarkError.textContent = '';
        landmarkError.style.display = 'none';

        phoneNo2Error.textContent = '';
        phoneNo2Error.style.display = 'none';

        addTypeError.textContent = '';
        addTypeError.style.display = 'none';

        
        
        if (name.trim() === "") { //for name
            isValid = false;
            nameError.textContent = 'Please enter a name.';
            nameError.style.display = 'block';
        } else if (!/^[a-zA-Z\s]+$/.test(name.trim())) {
            isValid = false;
            nameError.textContent = 'name should contain only alphabetic characters.';
            nameError.style.display = 'block';
        } 
        if (phoneNo.trim() === "" || !/^\d+$/.test(phoneNo)) { //for phone number
            isValid = false;
            phoneNoError.textContent = 'Please enter a 10 digit Phone number.';
            phoneNoError.style.display = 'block';
        } else if (phoneNo.length !== 10 ) {
            isValid = false;
            phoneNoError.textContent = 'Please enter a 10 digit phone number.';
            phoneNoError.style.display = 'block';
        } 
        if (pincode.trim() === "" || !/^\d+$/.test(pincode)) { //for pincode number
            isValid = false;
            pincodeError.textContent = 'Please enter your pincode.';
            pincodeError.style.display = 'block';
        } else if (pincode.length !== 6 ) {
            isValid = false;
            pincodeError.textContent = 'Please enter your pincode.';
            pincodeError.style.display = 'block';
        }
        if (locality.trim() === "") { // for locality 
            isValid = false;
            localityError.textContent = 'Please enter your pincode.';
            localityError.style.display = 'block';
        } 
        if (address.trim() === "") { // for address 
            isValid = false;
            addressError.textContent = 'Please enter your address.';
            addressError.style.display = 'block';
        }
        if (place.trim() === "") { // for place  
            isValid = false;
            placeError.textContent = 'Please enter your "City/District/Town".';
            placeError.style.display = 'block';
        }
        if (state.trim() === "") { // for state  
            isValid = false;
            stateError.textContent = 'Please enter your state.';
            stateError.style.display = 'block';
        }
        if(phoneNo2) {
            if (phoneNo2.trim() === "" || !/^\d+$/.test(phoneNo2)) { //for phone number
                isValid = false;
                phoneNo2Error.textContent = 'Please enter a 10 digit Phone number.';
                phoneNo2Error.style.display = 'block';
            } else if (phoneNo2.length !== 10 ) {
                isValid = false;
                phoneNo2Error.textContent = 'Please enter a 10 digit phone number.';
                phoneNo2Error.style.display = 'block';
            } 
        }
        if(!homeAddType.checked && !workAddType.checked) {
            isValid = false;
            addTypeError.textContent = 'Please select an address type.';
            addTypeError.style.display = 'block';
        } 

        return isValid
    }
    // validate for edit form
    function validateEditForm(i) {
        let isValid = true;
        const name = document.getElementById('name'+i).value;
        const phoneNo = document.getElementById('phone-no'+i).value;
        const pincode = document.getElementById('pincode'+i).value;
        const locality = document.getElementById('locality'+i).value;
        const address = document.getElementById('address'+i).value;
        const place = document.getElementById('place'+i).value;
        const state = document.getElementById('state'+i).value;
        const landmark = document.getElementById('landmark'+i).value;
        const phoneNo2 = document.getElementById('alt-phone'+i).value;
        const homeAddType = document.getElementById('type-home'+i);
        const workAddType = document.getElementById('type-work'+i);

        const nameError = document.getElementById('name-error'+i);
        const phoneNoError = document.getElementById('phoneNo-error'+i);
        const pincodeError = document.getElementById('pincode-error'+i);
        const localityError = document.getElementById('locality-error'+i);
        const addressError = document.getElementById('address-error'+i);
        const placeError = document.getElementById('place-error'+i);
        const stateError = document.getElementById('state-error'+i);
        const landmarkError = document.getElementById('landmark-error'+i);
        const phoneNo2Error = document.getElementById('phoneNo2-error'+i);
        const addTypeError = document.getElementById('addType-error'+i);

        nameError.textContent = '';
        nameError.style.display = 'none';

        phoneNoError.textContent = '';
        phoneNoError.style.display = 'none';

        pincodeError.textContent = '';
        pincodeError.style.display = 'none';

        localityError.textContent = '';
        localityError.style.display = 'none';

        addressError.textContent = '';
        addressError.style.display = 'none';

        placeError.textContent = '';
        placeError.style.display = 'none';

        stateError.textContent = '';
        stateError.style.display = 'none';

        landmarkError.textContent = '';
        landmarkError.style.display = 'none';

        phoneNo2Error.textContent = '';
        phoneNo2Error.style.display = 'none';

        addTypeError.textContent = '';
        addTypeError.style.display = 'none';

 
        if (name.trim() === "") { //for name
            isValid = false;
            nameError.textContent = 'Please enter a name.';
            nameError.style.display = 'block';
        } else if (!/^[a-zA-Z\s]+$/.test(name.trim())) {
            isValid = false;
            nameError.textContent = 'name should contain only alphabetic characters.';
            nameError.style.display = 'block';
        } 
        if (phoneNo.trim() === "" || !/^\d+$/.test(phoneNo)) { //for phone number
            isValid = false;
            phoneNoError.textContent = 'Please enter a 10 digit Phone number.';
            phoneNoError.style.display = 'block';
        } else if (phoneNo.length !== 10 ) {
            isValid = false;
            phoneNoError.textContent = 'Please enter a 10 digit phone number.';
            phoneNoError.style.display = 'block';
        } 
        if (pincode.trim() === "" || !/^\d+$/.test(pincode)) { //for pincode number
            isValid = false;
            pincodeError.textContent = 'Please enter your pincode.';
            pincodeError.style.display = 'block';
        } else if (pincode.length !== 6 ) {
            isValid = false;
            pincodeError.textContent = 'Please enter your pincode.';
            pincodeError.style.display = 'block';
        }
        if (locality.trim() === "") { // for locality 
            isValid = false;
            localityError.textContent = 'Please enter your pincode.';
            localityError.style.display = 'block';
        } 
        if (address.trim() === "") { // for address 
            isValid = false;
            addressError.textContent = 'Please enter your address.';
            addressError.style.display = 'block';
        }
        if (place.trim() === "") { // for place  
            isValid = false;
            placeError.textContent = 'Please enter your "City/District/Town".';
            placeError.style.display = 'block';
        }
        if (state.trim() === "") { // for state  
            isValid = false;
            stateError.textContent = 'Please enter your state.';
            stateError.style.display = 'block';
        }
        if(phoneNo2) {
            if (phoneNo2.trim() === "" || !/^\d+$/.test(phoneNo2)) { //for phone number
                isValid = false;
                phoneNo2Error.textContent = 'Please enter a 10 digit Phone number.';
                phoneNo2Error.style.display = 'block';
            } else if (phoneNo2.length !== 10 ) {
                isValid = false;
                phoneNo2Error.textContent = 'Please enter a 10 digit phone number.';
                phoneNo2Error.style.display = 'block';
            } 
        }
        if(!homeAddType.checked && !workAddType.checked) {
            isValid = false;
            addTypeError.textContent = 'Please select an address type.';
            addTypeError.style.display = 'block';
        } 

        return isValid;
    }

    async function logout() {
          try {
               const response = await fetch('/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);

</script>

<!-- Mirrored from risingtheme.com/html/demo-suruchi-v1/suruchi/my-account-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Nov 2024 05:25:38 GMT -->
</html>